{% extends 'base.html.twig' %}

{% block title %}LoneWolf musique! {% endblock %}

{% block header %}
    {{ include('entete/_entetemenu.html.twig') }}    
{% endblock %}

{% block body %}
<div class="mt-5 mb-5">
    <audio class="player" autoplay="true" controls loop preload src="{{ asset ('assets/music/Arabesque.mp3') }}" type="audio/mpeg" >
                Your browser does not support the audio tag.
    </audio>

    <p>musique: Arabesque tirée du site <a href="https://tabletopaudio.com/">table-top Audio.</a>   </p>
</div>
{% endblock %}

{% block footer %}
<div class="sticky-bottom">
            <img style="width:70px;" src="{{ asset ('assets/img/decoBas.png') }}" />
            </br></br>
</div>
{% endblock %}