  

</br>
    {% if endL > 0 %}
        {% set combattre = null %} 
                    <p>You evade the combat.
                        <a  class="col-12 mt-5"
                            href="
                            {{ path('page_22', {'heroId':heroId }) }}
                            "
                        >
                            <img class="fleches" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a> 
                        {# turn to 22. #}
                    </p>
                    </br>
    {% endif %}