</br>
    {% if endL > 0 %}
        {% set combattre = null %} 
                    <p>You jump from the speeding caravan.
                        <a  class="col-12 mt-5"
                            href="
                            {{ path('page_234', {'heroId':heroId }) }} 
                            "
                        >
                            <img class="fleches" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a> 
                        {# turn to 234. #}
                    </p>
                    </br>
    {% endif %}