<h3 style="font-family:'Dr Sugiyama', cursive;">Over the centuries, the Kai monks have mastered the skills of the warrior. These skills are known as the Kai Disciplines, and they are taught to all Kai Lords. You have learnt only five of the skills listed below. The choice of which five skills these are, is for you to make. As all of the Disciplines may be of use to you at some point on your perilous quest, pick your five with care. The correct use
of a Discipline at the right time can save your life.</h3>
</br>
<h3>Animal Kinship</h3>
<p>This skill enables a Kai Lord to communicate with some animals and to be able to guess the intentions of others.
</p>
<h3>Camouflage</h3>
<p>This Discipline enables a Kai Lord to blend in with his surroundings. In the countryside, he can hide undetected among trees and rocks and pass close to an enemy without being seen. In a town or city, it enables him to look and sound like a native of that area, and can help him to find shelter or a safe hiding place.
</p>
<h3>Healing</h3>
<p>This Discipline can be used to restore <span style="font-family:'Nanum Brush Script', cursive;">ENDURANCE</span> points lost in combat. If you possess this skill you may restore 
<span style="font-family:'Nanum Brush Script', cursive;">1 ENDURANCE </span> point to your total for every numbered section of the book you pass through in which you are not involved in combat. (This is only to be used after your 
<span style="font-family:'Nanum Brush Script', cursive;">ENDURANCE</span> has fallen below its original level.) Remember that your <span style="font-family:'Nanum Brush Script', cursive;">ENDURANCE</span> cannot rise above its original level.
</p>
<h3>Hunting</h3>
<p>This skill ensures that a Kai Lord will never starve in the wild. He will always be able to hunt for food for himself except in areas of wasteland and desert. The skill also enables a Kai Lord to be able to move stealthily when stalking his prey.
If you choose this skill, when instructed to eat, you don’t have to use a Meal. 
</p>
<h3>Mindblast</h3>
<p>This enables a Kai Lord to attack an enemy using the force of his mind. It can be used at the same time as normal combat weapons and adds two extra points to your <span style="font-family:'Nanum Brush Script', cursive;">COMBAT SKILL</span>. 
Not all the creatures encountered on this adventure will be harmed by Mindblast. You will be told if a creature is immune.
</p>
<h3>Mindshield</h3>
<p>The Darklords and many of the evil creatures in their command have the ability to attack you using their Mindforce. The Kai Discipline of Mindshield prevents you from losing any <span style="font-family:'Nanum Brush Script', cursive;">COMBAT SKILL</span> points when subjected to this form of attack.
</p>
<h3>Mind Over Matter</h3>
<p>Mastery of this Discipline enables a Kai Lord to move small objects with his powers of concentration.
</p>
<h3>Sixth Sense</h3>
<p>This skill may warn a Kai Lord of imminent danger. It may also reveal the true purpose of a stranger or strange object encountered in your adventure.
</p>
<h3>Tracking</h3>
<p>This skill enables a Kai Lord to make the correct choice of a path in the wild, to discover the location of a person or object in a town or city and to read the secrets of footprints or tracks.
</p>
<h3>Weaponskill</h3>
<p>Upon entering the Kai Monastery, each initiate is taught to master one type of weapon. 
If Weaponskill is to be one of your Kai Disciplines, you will gain proficiency in one of the weapon from this list: Dagger, Sword, Spear, Axe, Mace, Sword, Short Sword, Quarterstaff, Warhammer, Broadsword.
You will randomly gain proficiency in one of those weapons: </br>
Axe, short sword, sword, broadsword, spear, warhammer, dagger, mace and quarterstaff.</br>
This will be the weapon in which you have skill.
When you enter combat carrying this weapon, you add automatically 2 points to your <span style="font-family:'Nanum Brush Script', cursive;">COMBAT SKILL</span>.
The fact that you are skilled with a weapon does not mean you set out on the adventure carrying that particular weapon. However, you will have opportunities to acquire weapons in the course of your adventures. If you gain the axe proficiency, you are lucky enough to be skilled in the one weapon Lone Wolf is carrying from the start of the adventure. 
You cannot carry more than 2 weapons.
</p>
</br>
<h3 style="font-family:'Dr Sugiyama', cursive;">
If you successfully complete the mission as set in Book 1 of Lone Wolf, you may add a further Kai Discipline of your choice to ability for Book 2. This additional skill, together with your five other skills and any Special Items that you have picked up in Book 1, may then be used in the next adventure of the Lone Wolf series which is called « Fire on the Water ».</h3>
