{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        As you begin to read the inscription, you notice a shadow moving towards you from behind the screen.
    </p>
    </br>
{% set rand = random(9) %}

{% if rand < 5 %}      
    <p> 
            <a class="col-12 mt-5" href="
            {{ path('page_339', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 339. #}
    </p>
{% else %}
    <p> 
            <a class="col-12 mt-5" href="
            {{ path('page_60', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 60. #}
    </p>
{% endif %}


     </br>
</div>

{% endblock %}