{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Now that you are closer, you can make out that the voices are not human. The sound is more like a kind of grunting and squeaking.
    </p>
    </br>
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiAnimal %}
            <p>You have the Kai Discipline of Animal Kinship
                <a class="col-12 mt-5" href="
                {{ path('page_225', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 225.  #}
            </p>
        {% else %}
     
            <p>You must climb over the tree and face whatever lurks on the other side. 
                <a class="col-12 mt-5" href="
                {{ path('page_250', {'heroId':heroId }) }}                
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 250. #}
            </p>
        {% endif %}
    {% endfor %}
     </br>
</div>

{% endblock %}