{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Wiping the foul Giak blood from your weapon, you quickly descend the hillside before the Kraan spots its dead riders. Many times you lose your footing on the loose rocks, falling several feet.
        
        {% set fall = fall(em, heroId,1) %}
    </p>
    </br>
    {% for infoHero in hero %}
            {% if infoHero.endurance < 1 %}
                    <p>Alas, you die in your fall. 
                        <a class="col-12 mt-5" href="
                        {{ path('page_351', {'heroId':heroId }) }}
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a>
                        {# turn to 351. #}
                    </p>

            {% else %}
                <p>You loose 1 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> point for cuts and bruises to your legs.
                        <a class="col-12 mt-5" href="
                        {{ path('page_248', {'heroId':heroId }) }}
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a>
                        {# turn to 248. #}
                    </p>
            {% endif %}
    {% endfor %}
     </br>
</div>

{% endblock %}