{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        As your voice echoes through the trees, the stranger slowly turns to face you. Your heart pounds and your blood freezes as you realize that the stranger is not human. 
        It is a Vordak, a hideous lieutenant of the Darklords and one of the undead. A piercing scream fills your ears, and the creature raises a huge black mace above its head and charges at you. 
        Frozen with horror, you can also feel the Vordak attacking you with the force of its mind.
        {% for infoHero in hero %}
            {% if infoHero.kaiMshield == 0 %}
                You do not have the Kai Discipline of Mindshield, 2 points are deducted from your <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL</span> for the fight, for the creature is attacking you with the power of its Mindforce as well as with its large black mace!
            {% else %}
                </br>Thanks to your Kai Discipline of Mindshield you are immune to the power of its MindForce, but the creature is attacking you with its large black mace!
            {% endif %}
        {% endfor %}
        </br>
        You must fight this creature. 
        </br>
        Vordak: <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL 18 ENDURANCE 26</span>
        </br>
        It is immune to Mindblast.
    </p>
    </br>
    {% for infoHero in hero %}
    {% for ennemyInfo in ennemy %}
    
    {% set end = infoHero.endurance %}    
    {% set ennemyCS = ennemyInfo.combatSkill %}
    {% set ennemyEnd = ennemyInfo.endurance %} 
    {% set ennemyId = ennemyInfo.id %}
    {% set ennemyName = ennemyInfo.name %}

    <div class="fs-2 d-block  text-center" style=" font-family: 'Nanum Brush Script', cursive; ">
    
        <a 
            class="btn btn-disciplines fs-1"
            href="{{ path('page_combat',{'heroId':heroId, 'ennemyId':ennemyId,'ennemyName':ennemyName, 'CS':CS, 'CR':CR, 'fightId': fightId,'p':p }) }}"
            type="button" 
            id="combattre"      
        >combattre</a>
        </br>
        
        </br>
        
        {% if end < 1 %}
                <p>
                    <a class="col-12 mt-5" href="
                        {{ path('page_351', {'heroId':heroId }) }} 
                        ">you died.
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a> 
                        {# turn to 351.  #}
                </p>
        {% endif %}
        
    </div>

{% endfor %} 
{% endfor %}   
</br>
</div>
{% endblock %}