{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    
    <p>
    Your Kai Discipline of Tracking reveals to you fresh paw prints leading off along the south path.
    </br>
    They are the prints of a black bear, an animal renowned for its ferocity. You decide the east path would be a much safer route.
    </p>
    </br>
    
    <p>
        <a class="col-12 mt-5" href="
            {{ path('page_252', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# Turn to 252. #}
    </p>
    
    
    </br>
</div>

{% endblock %}