{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}    
    {% set idShortSword = false %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {# variable actualisée quand l'objet a été ramassé ou déjà possédé #}
        {% if item.id == 16 %}
            {% set idShortSword = true %}
        {% endif %}

    {% endfor %}


{% set coins = 6 %}
<div>
    <p>
    The Drakkar lies dead at the bottom of the ferry. He has a Short Sword and 6 Gold Crowns which you may keep if you wish.

    {% for infoHero in hero %}

            {% if infoHero.gold < 50 and infoHero.goldTake == 0 %}
                </br></br>
                
                Take gold.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "add_gold", {'p':p, 'heroId':heroId, 'coins':coins} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-pouch.png') }}"
                            alt="Gold Crowns" />      
                    </a>
                    </br>
            {% endif %}
            {% if idShortSword == true %}
                </br>You already have a Short Sword.
            {% endif %}
            {% if idShortSword == false %}
                </br> </br>
                {% if handItemCount is same as 2  %}
                    If you want to take the Short sword you need to drop one of your weapon.
                {% else %}
                    Take the Short Sword.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':16,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                        style="width:80px; "
                        src="{{ asset ('assets/img/item-shsword.png') }}"
                        alt="a sword" />      
                    </a>
                    </br>
                {% endif %}
        {% endif %}

    {% endfor %}
    </br>You push the body into the water where it floats for a few seconds before disappearing into the icy depths. 
    Grabbing the pole, you steer to the other side of the lake and abandon the ferry.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_172', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 172. #}
    </p>


     </br>
</div>

{% endblock %}