{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu25.png') }}" alt="an afraid Kakarmi" />
    </div>
    <p>
        Leaping from the top of the trunk, you land in front of two small furry creatures. 
        </br>
        You recognize that they are Kakarmi, an intelligent race of animals that inhabit and tend the forests of Sommerlund.
        </br>
        Before you can apologize for your dramatic entrance, the frightened little creatures scurry off into the forest.
    </p>
    </br>
    <p>If you wish to follow them. 
            <a class="col-12 mt-5" href="
            {{ path('page_186', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 186. #}
    </p>
    </br>
    <p>If you wish to continue. 
            <a class="col-12 mt-5" href="
            {{ path('page_228', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 228. #}
    </p>

     </br>
</div>

{% endblock %}