{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You cautiously peer around the rock to see a soldier lying on his back. By his side is a Spear and shield. On the shield is the painting of a white pegasus, the Prince of Sommerlund’s emblem. He is one of the Prince’s soldiers, and he is only just conscious. His uniform is badly torn, and you can see that he has a deep wound in his left arm. As you move nearer, his eyes flicker open. ‘Heal me, my Lord,’ he begs. ‘I can barely feel my arm.’
    </p>
    </br>
    {% for infoHero in hero %}

        {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiHeal %}
            <p>If you wish to use the Kai Discipline of Healing on this man.
            <a class="col-12 mt-5" href="
                {{ path('page_216', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 216.  #}
            </p>
        
            </br>
            <p>If you do not want to use it. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_31', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 31. #}
            </p>
        
        {% else %}
            <p>You do not possess the the Kai Discipline of Healing. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_31', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 31. #}
            </p>

        {% endif %}
    {% endfor %}
     </br>
</div>

{% endblock %}