{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You pull yourself to the top of the opulent caravan and nestle among the travelling cases and bags. Night will soon engulf the highway. A chill wind blows from the west and you pull your cloak around yourself to keep warm. You listen to the voices below and you can smell the mouthwatering aroma of spiced meat. It reminds you that you are very hungry and must now take a Meal.
    </p>    
    
    
        {% if isLunch == 1 %}
            </br>
            {% for infoHero in hero %}
                {% if infoHero.endurance < 1 %}
                    <p>You are starving to death. 
                        <a class="col-12 mt-5" href="
                        {{ path('page_351', {'heroId':heroId }) }}
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a>
                        {# turn to 351. #}
                    </p>
                
                
                {% else %}
                    <p>    
                        The fatigue of your ordeal finally catches up with you and you drift off into a restless sleep.
                    </p>    
                    </br>
                    <p>
                            <a class="col-12 mt-5" href="
                            {{ path('page_64', {'heroId':heroId }) }}
                            ">
                                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                            </a>
                        {# turn to 64. #}
                    </p>
                {% endif %}
            {% endfor %}    
        {% endif %}
    
     </br>
</div>

{% endblock %}