{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Bracing yourself for the run, you head off down the ridge at a steady pace. To the west, the army of the Darklords looks like a giant pot of black ink that has been spilled between the mountains and is spreading into the land below.
        </br>
        You have been running for twenty minutes when you catch sight of a pack of Doomwolves lining a shallow ridge to your right.
    </p>
    </br>
    <p>If you decide to flatten yourself against the rocks along the side of the road and wait until they pass. 
            <a class="col-12 mt-5" href="
             {{ path('page_251', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 251. #}
    </p>
    </br>
    <p>If you decide to carry on running, but draw your weapon just in case they attack. 
            <a class="col-12 mt-5" href="
             {{ path('page_160', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 160. #}
    </p>

     </br>
</div>

{% endblock %}