{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set key = 0 %}
{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
        {# silver Key? #}
        {% if item.id == 4 %}
            {% set key = 1 %}
        {% endif %} 

    {% endfor %}

<div>
    <p>
        As you reach the door you hear the crash of a giant stone slab as it falls from the ceiling. Turning around, you see that your exit is now blocked.
    </p>
    {% if key == 1 %}
        </br>
            <p> You have a Silver Key, you may try to open the door.
                <a class="col-12 mt-5" href="
                {{ path('page_158', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 158.  #}
            </p>
    {% else %}
        </br>
        <p>you do not possess a Silver Key. 
                <a class="col-12 mt-5" href="
                {{ path('page_259', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 259. #}
        </p>
    {% endif %}
    

     </br>
</div>

{% endblock %}