{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        After what seems an eternity of struggling, you reach the peak of the steep hill. Behind you, above the canopy of trees, you can see the still smouldering remains of the monastery. To the north, a column of jet-black smoke rises high into the sky. Small orange tongues of flame flicker at its base. Your heart sinks as you realize that the port of Toran is ablaze.
        </br>
        Suddenly, a piercing cry above warns you that a Kraan is about to attack. It is about thirty yards away and diving for the kill.
        <!--Illustration -->
        <div class="d-flex justify-content-center mb-5">
            <img src="{{ asset ('assets/img/sillu22.png') }}" alt="" />
        </div>
    </p>
        <p>If you are going to stand and fight it as it swoops down. 
            <a class="col-12 mt-5" href="
            {{ path('page_17', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 17. #}
    </p>
    </br>
    <p>If you are going to evade its attack and slide down the other side of the hill, away from the Kraan. 
            <a class="col-12 mt-5" href="
            {{ path('page_89', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 89. #}
    </p>
</br>
</div>

{% endblock %}