{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Peering into the darkness, you notice that rough stairs have been cut into the earth and that the mouth of the cave is in fact the entrance to a tunnel.
    </br>
    Carefully descending the slippery stairway, you notice a small silver box on a shelf at the bottom of the staircase.

    </p>
    </br>
    <p>If you want to open the silver box.
            {#        lien vers la page suivante           #}
                <a class="col-12 mt-5" href="
                {# changer les num de page ci dessous #}
                {{ path('page_124', {'heroId':heroId }) }}  
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 124.  #}
            </p>
    </br>
    <p>If you wish to return to the surface and press on. 
            <a class="col-12 mt-5" href="
            {{ path('page_106', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 106. #}
    </p>
    </br>
    <p>If you wish to investigate the tunnel further. 
            <a class="col-12 mt-5" href="
            {{ path('page_211', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 211. #}
    </p>

    </br>
</div>

{% endblock %}