{% extends 'base.html.twig' %}

{% block title %} LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}



{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}

    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration III -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/ill3.png') }}" alt="A terrible apparition in red robes swoops down from the sky on the back of a Kraan." />
    </div>
    <p>
        Without warning, a terrible apparition in red robes swoops down from the sky on the back of a Kraan. Its cry freezes your blood. The beast is a Vordak, a fierce lieutenant of the Darklords. 
        </br>
        He is above you and you must fight him. 
        </br>
        2 points are deduct from your <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL</span> unless you have the Kai Discipline of Mindshield, for the creature is attacking you with its Mindforce as well as with a huge black mace.
        </br>
        Vordak: <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL 17 ENDURANCE 25</span>
    </p>
    </br>
    {# {{dump(_context|keys)}} #}
    
    <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">{% for infoHero in hero %}</span>
     
      
    {% for ennemyInfo in ennemy %} 
    
    
    {% set end = infoHero.endurance %}    
    {% set ennemyCS = ennemyInfo.combatSkill %}
    {% set ennemyEnd = ennemyInfo.endurance %} 
    {% set ennemyId = ennemyInfo.id %}
    {% set ennemyName = ennemyInfo.name %}

    <div class="fs-2 d-block  text-center" style=" font-family: 'Nanum Brush Script', cursive; ">
    
        <a 
            class="btn btn-disciplines fs-1"
            href="{{ path('page_combat',{'heroId':heroId, 'ennemyId':ennemyId,'ennemyName':ennemyName, 'CS':CS, 'CR':CR, 'fightId': fightId,'p':p }) }}"
            type="button" 
            id="combattre"      
        >combattre</a>
        </br>
        
        </br>
        
        {% if end == 0 %}
                <p>
                    <a class="col-12 mt-5 skull" href="
                         {{ path('page_351', {'heroId':heroId }) }} 
                        ">You died
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a> 
                        {# turn to 351.  #}
                </p>
        {% endif %}
        
    </div>

{% endfor %}
{% endfor %}   
</div>

{% endblock %}