{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <p>
    The merchant takes your Gold and clicks his fingers. His bodyguard attacks you with his scimitar.
    </p>
    </br>
    {% for infoHero in hero %}
    <p>If you wish to fight. 
            <a class="col-12 mt-5" href="
            {{ path('page_191', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 191. #}
    </p>
    </br>
    <p>If you wish to evade combat by jumping clear of the speeding caravan. 
            <a class="col-12 mt-5" href="
            {{ path('page_234', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 234. #}
    </p>


    {% endfor %}
</div>

{% endblock %}