{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Instinctively you duck, and dive to avoid the crossbow bolt. The bandit fires and you feel the sleeve of your jacket tear as the missile grazes past your left arm. You thank the gods for your good fortune and sprint on.
        None of the other bandits have bows and they soon give up the chase. As you sprint off into the distance, you leave them all far behind. 
        {% if p205 %}
            </br>You have lost your Weapons and Equipment, but not your life.
        {% endif %}  
        </br>     
        You stop just long enough to strap up your wounded arm and then continue along the road towards the outer defences of the capital.
    </p>
    </br>
    <p> 
            <a class="col-12 mt-5" href="
            {{ path('page_288', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 288. #}
    </p>



    </br>
</div>

{% endblock %}