{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu1.png') }}" alt="a man with a crossbow" />
    </div>

    <p>
        The path soon ends at a large clearing. In the centre of the clearing is a tree much taller and wider than any others you have seen in the forest.
        </br>Looking up through the massive branches you can see a large treehouse some twenty-five to thirty feet above the ground. There is no ladder, but the gnarled bark of the tree offers many footholds.
    </p>
    </br>
    {% for infoHero in hero %}
    <p>If you wish to climb the tree and search the treehouse. 
            <a class="col-12 mt-5" href="
            {{ path('page_307', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 307. #}
    </p>
    </br>
    <p>If you would rather press on. 
            <a class="col-12 mt-5" href="
            {{ path('page_213', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 213. #}
    </p>


    {% endfor %}
    </br>
</div>

{% endblock %}