{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <p>
        You are sweating and your legs ache. In the middle distance you can see a group of cottages.
    </p>
    </br>
    {% for infoHero in hero %}

    <p>If you wish to enter a cottage and rest for a while.
            <a class="col-12 mt-5" href="
             {{ path('page_115', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 115. #}
    </p>
    </br>
    <p>If you wish to press on. 
            <a class="col-12 mt-5" href="
            {{ path('page_83', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 83. #}
    </p>


    {% endfor %}
    </br>
</div>

{% endblock %}