{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
    After a few minutes walking, you find a mossy hut set back from the path. You are hungry and must eat a Meal here or lose 3 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points. 
{% for infoHero in hero %}
    {% if isLunch %}
        {% if infoHero.endurance < 1 %}
        <p>You are starving to death. 
            <a class="col-12 mt-5" href="
            {{ path('page_351', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 351. #}
        </p>

        {% else %}
        As you eat you notice that the path curve from north towards east. 
    </p>
    </br>
        <p>If you wish to go east.
            <a class="col-12 mt-5" href="
            {{ path('page_42', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 42. #}
    </p>
    </br>
    <p>if you wish to go north. 
            <a class="col-12 mt-5" href="
            {{ path('page_28', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 28. #}
    </p>
        {% endif %}
    {% endif %}
{% endfor %}
     </br>
</div>

{% endblock %}