{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        After nearly half an hour you feel the current getting stronger. 
        Looking out across the surface you can see that you are approaching a whirlpool 
        in the middle of a large river bend. You will surely drown if caught in its current, 
        so you quickly swim towards the right hand river bank and continue your mission 
        on foot, carrying all your equipment.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_321', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 321. #}
    </p>

     </br>
</div>

{% endblock %}