{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    
    <p>
        As you go on you discover a forest path that divides at the point you join it.
    </p>
    
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiTrack %}
        </br>
            <p> If you wish to use your Kai Discipline of Tracking.
            
                <a class="col-12 mt-5" href="
                {{ path('page_67', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 67.  #}
            </p>
        {% endif %}
        </br>
    <p>If you wish to take the south fork.
            <a class="col-12 mt-5" href="
            {{ path('page_140', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 140 #}
    </p>
    </br>
    <p>If you wish to take the east fork. 
            <a class="col-12 mt-5" href="
            {{ path('page_252', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 252. #}
    </p>


    {% endfor %}
    </br>
</div>

{% endblock %}