{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You are held by the mass of tangled branches and roots. Eventually you free your right 
        hand, grab your weapon and hack your way slowly through the foliage to the clearer 
        forest beyond. Your cloak is torn in several places and your left arm is cut 
        and badly bruised above the elbow.
        </br>
        You lose 2 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points.
    </p>
    {% set fall = fall(em, heroId, 2) %}
    </br>    
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_213', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 213. #}
    </p>
</br>
</div>

{% endblock %}