{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You follow the track for nearly an hour when you come to a crossroads.
    </p>
    </br>
    
    <p>If you wish to continue east. 
            <a class="col-12 mt-5" href="
            {{ path('page_86', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 86. #}
    </p>
    </br>
    <p>If you would rather head north. 
            <a class="col-12 mt-5" href="
            {{ path('page_238', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 238. #}
    </p>
    </br>
    <p>If you decide to venture south. 
            <a class="col-12 mt-5" href="
            {{ path('page_157', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 157. #}
    </p>
    </br>
    <p>Or if you prefer to go west. 
            <a class="col-12 mt-5" href="
            {{ path('page_147', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 147. #}
    </p>
    </br>

    
</div>

{% endblock %}