{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        The old watchtower ladder is rotten and several rungs break as you climb. 
    </p>
{% for infoHero in hero %}
    {% set rand = random(9) %}
    {% set fall = null %}
            
    </br>    
    {% if rand < 5 %}
        {# If the number is 4 or lower, you have fallen. Lose 2 ENDURANCE points and turn to 140. #}
        {% set fall = fall(em, heroId,2) %}
            <p>You have fallen.

                {% if infoHero.endurance < 1 %}
                    <p>Alas, you die in your fall. 
                        <a class="col-12 mt-5" href="
                        {{ path('page_351', {'heroId':heroId }) }} 
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a>
                        {# turn to 351. #}
                    </p>

                {% else %}
                        <a class="col-12 mt-5" href="
                        {{ path('page_140', {'heroId':heroId }) }}  
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a>
                        {# turn to 140. #}
                    </p>
                {% endif %}
    {% else %}
        {# If the number is 5 or higher, you do not fall. Turn to 323. #}
        <p>You do not fall. 
                <a class="col-12 mt-5" href="
                {{ path('page_323', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
            {# turn to 323. #}
        </p>
    {% endif %}
    
{% endfor %}
</br>
</div>

{% endblock %}