{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        As you ride along the highway, you notice that light is getting worse. It will soon be completely dark and impossible to see any dangers that may lurk ahead. You decide to hide and rest at the wood’s edge until morning.
        </br>When you are satisfied that no one can see you, you pull your warm green cloak about you and drift off into an uneasy sleep.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_256', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 256. #}
    </p>

     </br>
</div>

{% endblock %}