{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}
{% set fall = fall(em, heroId, 2) %}
<div>
    <p>
        As you race across the open field towards the wood, a Kraan dives at you and claws your arm. Before you can fight back, it has flown off again, shrieking with cold malice.
        </br>
        You enter the wood, but you have lost 2 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points.
        </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_264', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 264. #}
    </p>
</br>
</div>

{% endblock %}