{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}
{% set idSpear = false %}
{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {# variable actualisée quand l'objet a été ramassé ou déjà possédé #}
        {% if item.id == 14 %}
            {% set idSpear = true %}
        {% endif %}
    {% endfor %}

<div>
    <p>
        Through the open doorway of the first hut, you can see the body of a charcoal burner lying face down on the rough stone floor. He has been murdered, stabbed in the back by a spear. All his furniture and belongings have been smashed and broken and not one piece remains intact.
        </br>
        This is the evil handiwork of Giaks without any doubt, for they delight in the destruction of all things. A quick check of the other huts reveals a similar story of murder and wreckage. In the last hut that you search, you discover a Giak Spear proof of your suspicions. 
        
        {% if idSpear is same as false %}
            </br> </br>
                {% if handItemCount is same as 2  %}
                    If you want to take the spear you need to drop one of your weapon.
                {% else %}
                    Take the spear.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':14,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                        style="width:80px; "
                        src="{{ asset ('assets/img/item-spear.png') }}"
                        alt="a spear" />      
                    </a>
                    </br>
                {% endif %}
        {% endif %}
        
        </br>
        More determined than ever now to succeed in your mission, you continue along the track.
</p>
    </br>

    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_105', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 105. #}
    </p>



     </br>
</div>

{% endblock %}