{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You have been travelling for about a mile when you notice two legs sticking out from behind a large boulder.
    </p>
    </br>
    {% for infoHero in hero %}
        {% if infoHero.kaiSix %}
            <p>If you wish to use the Kai Discipline of Sixth Sense.
                <a class="col-12 mt-5" href="
                {{ path('page_178', {'heroId':heroId }) }}  
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 178.  #}
            </p>
        {% endif %}
        </br>
        <p>If you wish to take a closer look. 
                <a class="col-12 mt-5" href="
                {{ path('page_88', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 88. #}
        </p>
        </br>
        <p>If you would rather avoid meeting their owner and press on into the forest. 
                <a class="col-12 mt-5" href="
                {{ path('page_264', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
            {# turn to 264. #}
        </p>


    {% endfor %}
    </br>
</div>

{% endblock %}