{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
{# possession d'une torch et d'un briquet #}    
    {% set torch = 0 %}
    {% set tinder = 0 %}

    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %}
        {% if item.objName is same as ('Torch') %}
            {% set torch = 1 %}
        {% endif %}
        {% if item.objName is same as ('Tinderbox') %}
            {% set tinder = 1 %}
        {% endif %}
    {% endfor %}

<div>
    <!--Illustration XI -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/ill11.png') }}" alt="It is a Burrowcrawler and it is trying to strangle you." />
    </div>
    <p>
        The tunnel is dark and the air is much cooler than outside. You carefully advance with one hand on the tunnel wall to aid your sense of direction. You have been in total darkness for three minutes when you detect the foul smell of decay ahead, similar to rotting meat. 
    {% if torch == 1 and tinder == 1 %}
        You have a Torch and a Tinderbox in your Pack, you light the Torch to see your way ahead. 
    {% endif %}
        </br>
        Suddenly, something heavy drops from the tunnel ceiling onto your back and you fall to your knees. It is a Burrowcrawler and you must fight it, for it is trying to strangle you with its long slimy tentacles.

    </br>Burrowcrawler: <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL 17 ENDURANCE 7</span>
     </br>The Burrowcrawler is immune to Mindblast and Animal Kinship.
    {% if torch == 0 or tinder == 0 %}
        </br>As you do not have a torch, 3 points are deduct from your <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL</span> during this fight.
    {% endif %}
    
</br>
    {% for infoHero in hero %}
    {% for ennemyInfo in ennemy %}
    
    {% set end = infoHero.endurance %}    
    {% set ennemyCS = ennemyInfo.combatSkill %}
    {% set ennemyEnd = ennemyInfo.endurance %} 
    {% set ennemyId = ennemyInfo.id %}
    {% set ennemyName = ennemyInfo.name %}

    <div class="fs-2 d-block  text-center" style=" font-family: 'Nanum Brush Script', cursive; ">
    
        <a 
            class="btn btn-disciplines fs-1"
            {# style="width:100%;" #}
            href="{{ path('page_combat',{'heroId':heroId, 'ennemyId':ennemyId,'ennemyName':ennemyName, 'CS':CS, 'CR':CR, 'fightId': fightId,'p':p }) }}"
            type="button" 
            id="combattre"      
        >combattre</a>
        </br>
        
        </br>
        
        {% if end < 1 %}
                <p>
                    <a class="col-12 mt-5" href="
                        {{ path('page_351', {'heroId':heroId }) }} 
                        ">you died.
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a> 
                        {# turn to 351.  #}
                </p>
        {% endif %}
        
    </div>

{% endfor %} 
{% endfor %}
</br>
</div>

{% endblock %}