{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You follow the rough track for nearly an hour when you notice ahead of you another wider path branching off towards the south.
    </p>
    </br>
    <p>If you wish to turn south along the new path. 
            <a class="col-12 mt-5" href="
            {{ path('page_238', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 238. #}
    </p>
    </br>
    <p>But if you wish to head east. 
            <a class="col-12 mt-5" href="
            {{ path('page_15', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 15. #}
    </p>
        </br>
    <p>Or if you wish to go west. 
            <a class="col-12 mt-5" href="
            {{ path('page_130', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 130. #}
    </p>

     </br>
</div>

{% endblock %}