{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Just as you remove the ornate pin, a loud crack deafens you. 
    </p>
{% set rand = random(9) %}   
    </br>
{% if rand < 5 %}
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_219', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 219. #}
    </p>
{% else %}    
    </br>
    <p> 
            <a class="col-12 mt-5" href="
            {{ path('page_317', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 317. #}
    </p>


{% endif %}
     </br>
</div>

{% endblock %}