{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <p>
        You must make haste for you sense it is not safe to linger by the smoking remains of the ruined monastery. The black-winged beasts could return at any moment. You must set out for the Sommlending capital of Holmgard and tell the King the terrible news of the massacre: that the whole élite of Kai warriors, save yourself, have been slaughtered. 
        Without the Kai Lords to lead her armies, Sommerlund will be at the mercy of their ancient enemy, the Darklords.
        </br></br>
        Fighting back tears, you bid farewell to your dead kinsmen.</br>
        Silently, you promise that their deaths will be avenged. You turn away from the ruins and carefully descend the steep track. At the foot of the hill, the path splits into two directions, both leading into a large wood.
    </p>
    </br>
    {% for infoHero in hero %}
    {% if infoHero.kaiSix %}
        <p> 
            If you wish to use your Kai Discipline of Sixth Sense. 
            <a class="col-12 mt-5" href="{{ path('page_141', {'heroId':heroId }) }}">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
             {# turn to 141.  #}
        </p>
    {% endif %}
    </br>
    <p>If you wish to take the right path into the wood. 
            <a class="col-12 mt-5" href="
            {{ path('page_85', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 85. #}
    </p>
    </br>
    <p>If you wish to follow the left track. 
            <a class="col-12 mt-5" href="
            {{ path('page_275', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
    {# turn to 275. #}
    </p>
    {% endfor %}
    </br>
</div>


{% endblock %}