{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/ill18.png') }}" alt="You can see on the track above four soldiers and their officer wearing the uniform of the King’s army." />
    </div>
    <p>
        As the stream vanishes up into the rocky hillside, you can see on the track above four soldiers and their officer. They wear the uniform of the King’s army.
    </p>
    
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiSix %}
        </br>
            <p>If you wish to use the Kai Discipline of Sixth Sense
                <a class="col-12 mt-5" href="
                {{ path('page_48', {'heroId':heroId }) }}  
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 48.  #}
            </p>
        {% endif %}
        {% if infoHero.kaiCamou %}
            </br>
            <p>If you wish to use the Kai Discipline of Camouflage and wait for them to pass.      
                <a class="col-12 mt-5" href="
                {{ path('page_73', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 73.  #}
            </p>
        {% endif %}
    {% endfor %}
    </br>  
    <p>If you wish to approach them. 
            <a class="col-12 mt-5" href="
            {{ path('page_162', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 162. #}
    </p>
    
    
     </br>
</div>

{% endblock %}