{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu4.png') }}" alt="a wooden bridge" />
    </div>
    <p>
        You have reached a small bridge. A track follows the stream towards the east. A much narrower path disappears into thick forest towards the south.
    </p>
    </br>
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiSix %}
            <p>If you wish to use the Kai Discipline of Sixth Sense.      
            {#        lien vers la page suivante           #}
                <a class="col-12 mt-5" href="
                
                {{ path('page_8', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 8.  #}
            </p>
        {% endif %}
        </br>
    <p>If you wish to go east. 
            <a class="col-12 mt-5" href="
            {{ path('page_28', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 28. #}
    </p>
    </br>
    <p>If you wish to go south. 
            <a class="col-12 mt-5" href="
            {{ path('page_157', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 157. #}
    </p>

    {% endfor %}
</div>

{% endblock %}