{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
    As the creature dies, its body slowly dissolves into a vile green liquid. You notice that all of the grass and the plants beneath the smoking fluid are beginning to shrivel and die. A large valuable looking Gem lies on the ground near to the decaying body.
    </br>
    Further along the track you can see a large war party of Giaks running towards you.
    </p>
    </br>
    {% if bpItemsCount is same as 8 %}
                  <p>  If you want to take the Gem you need to drop one of your backpack's item.</p>
               
                {% else %}
                <p>If you wish to take the Gem. 
                        <a class="col-12 mt-5" href="
                         {{ path('page_304', {'heroId':heroId }) }} 
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a>
                        {# turn to 304. #}
                </p>
                
    {% endif %}
    </br>
    <p>If you would rather leave it and run. 
            <a class="col-12 mt-5" href="
            {{ path('page_2', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 2. #}
    </p>
</br>
</div>

{% endblock %}