{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    
    <p>
        Sweating, and out of breath, you part the dense undergrowth to see a Kraan hovering over the wagon. Three ghoulish Giaks drop from its back, startling the horses. They advance upon the helpless children with their spears.
        <!--Illustration -->
        <div class="d-flex justify-content-center mb-5">
            <img src="{{ asset ('assets/img/sillu2.png') }}" alt="" />
        </div>
    </p>
    </br>
    <p>If you wish to run back to the wagon and defend the children. 
            <a class="col-12 mt-5" href="
             {{ path('page_208', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 208. #}
    </p>
    </br>
    <p>If you want to run deeper into the forest. 
            <a class="col-12 mt-5" href="
            {{ path('page_264', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 264. #}
    </p>

</br>
</div>

{% endblock %}