{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration IV -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/ill4.png') }}" alt="The Giak leader orders ﬁve of his troops to open ﬁre at you with their bows." />
    </div>
    <p>
        Three rangers gallop past the river bank, closely followed by the Giaks on their snarling Doomwolves.
        The bank is steep and you are spotted by the Giak leader who orders five of his troops to open fire at you with their bows. Their black arrows rain down on you.
    </p>
    </br>
    <p>If you decide to paddle downstream as fast as you can. 
            <a class="col-12 mt-5" href="
            {{ path('page_174', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 174. #}
    </p>
    </br>
    <p>If you decide to head for the cover of the trees on the opposite bank. 
            <a class="col-12 mt-5" href="
            {{ path('page_116', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 116. #}
    </p>
</br>
</div>

{% endblock %}