{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}
    {% set idKey = false %}
{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    
{# variable actualisée quand l'objet a été ramassé #}
        {% if item.id is same as 4 %}
                {% set idKey = true %}
        {% endif %}
    {% endfor %}
<div>
    <p>
    Inside the box you find 15 Gold Crowns and a Silver Key. If you wish to keep the key, remember to mark it on your Action Chart.
    {% set coins = 15 %}
        {% for infoHero in hero %}

            {% if infoHero.gold < 50 and infoHero.goldTake == 0 %}
                </br></br>
                
                Take gold.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "add_gold", {'p':p, 'heroId':heroId, 'coins':coins} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-pouch.png') }}"
                            alt="Gold Crowns" />      
                    </a>
                   
            {% endif %}
        {% endfor %}
            {% if idKey is same as false %}
                </br></br>
                {% if bpItemsCount is same as 8 %}
                    If you want to take this Silver Key you need to drop one of your backpack's item.
                {% else %}
                    Take the Silver Key.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':4,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-key.png') }}"
                            alt="a silver key" />      
                    </a>
                {% endif %}
            {% endif %}
    </p>
    </br>
    <p>You can continue to investigate the tunnel. 
            <a class="col-12 mt-5" href="
            {{ path('page_211', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 211. #}
    </p>
    </br>
    <p>Or you may leave and descend the hill. 
            <a class="col-12 mt-5" href="
            {{ path('page_106', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 106. #}
    </p>
</br>
</div>

{% endblock %}