{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}
    {% set id7 = false %}
{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 

        {# variable actualisée quand l'objet a été ramassé ou déjà possédé #}
        {% if item.id is same as 7 %}
            {% set id7 = true %}
        {% endif %}
    {% endfor %}

{% set coins = 6 %}
<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu32.png') }}" alt="a small velvet purse" />
    </div>
    <p>
        Wrapped in a bundle of women’s clothing is a small velvet purse containing 6 Gold Crowns and a Tablet of Perfumed Soap. You may take these items and continue your journey.

{% for infoHero in hero %}

            {% if infoHero.gold < 50 and infoHero.goldTake == 0 %}
                </br></br>
                
                Take gold.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "add_gold", {'p':p, 'heroId':heroId, 'coins':coins} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-pouch.png') }}"
                            alt="Gold Crowns" />      
                    </a>
                   
            {% endif %}
            {% if infoHero.backpack == 1 %}
            {% if id7 is same as false %}
                </br></br>
                {% if bpItemsCount is same as 8 %}
                    If you want to take the Soap you need to drop one of your backpack's item.
                {% else %}
                    
                    <a 
                        class="btn btn-disciplines rounded-circle skull"             
                        href="{{ path( "objAdd", {'itemId':7,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        Take the Soap.                        
                    </a>
                {% endif %} 
            {% endif %}
        {% endif %}    
 {% endfor %}
    </p>
    </br>
    <p> 
            <a class="col-12 mt-5" href="
            {{ path('page_213', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 213. #}
    </p>


   
     </br>
</div>

{% endblock %}