{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>

    <p>
        You have cut your way through the thick undergrowth for nearly half an hour when you hear the beat of wings high above the trees.
        <div class="d-flex justify-content-center mb-5">
            <img src="{{ asset ('assets/img/sillu22.png') }}" alt="a Kraan flying above" />
        </div>
        Looking up you can just make out the shape of a Kraan approaching from the north. It is one of the monsters that attacked the monastery and on its back are two grey-skinned creatures armed with long spears.
        </br>
        These are Mountain Giaks, evil servants of the Darklords, full of hatred and malice. Many centuries ago, their ancestors were used by the Darklords to build the infernal city of Helgedad, which lies in the volcanic wastelands beyond the Durncrag range of mountains. The construction of the city was long and torturous and only the strongest of the Giaks survived the heat and poisonous atmosphere of Helgedad.
        </br>
        Hidden by the trees, you freeze, keeping absolutely still as the Kraan passes overhead and disappears towards the south. When you are sure that it has gone, you move off once again into the forest.
    </p>
    </br>
    {% for infoHero in hero %}

    <p>
        <a class="col-12 mt-5" href="
            {{ path('page_131', {'heroId':heroId }) }}
            ">
            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
        </a>
            {# Turn to 131. #}
    </p>
    
    {% endfor %}
    </br>
</div>

{% endblock %}