{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Just as the Giak makes his leap, you race forward and strike out with your weapon—knocking the creature away from the young wizard’s back.
You jump onto the struggling Giak and strike again. 

Due to the surprise of your attack, 4 points are added to your <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL</span> for the duration of this fight.
</br>Giak: <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL 9 ENDURANCE 9</span>



    </p>
    </br>
    {% for infoHero in hero %}
    {% for ennemyInfo in ennemy %}
    
    {% set end = infoHero.endurance %}    
    {% set ennemyCS = ennemyInfo.combatSkill %}
    {% set ennemyEnd = ennemyInfo.endurance %} 
    {% set ennemyId = ennemyInfo.id %}
    {% set ennemyName = ennemyInfo.name %}

    <div class="fs-2 d-block  text-center" style=" font-family: 'Nanum Brush Script', cursive; ">
    
        <a 
            class="btn btn-disciplines fs-1"
            href="{{ path('page_combat',{'heroId':heroId, 'ennemyId':ennemyId,'ennemyName':ennemyName, 'CS':CS, 'CR':CR, 'fightId': fightId,'p':p }) }}"
            type="button" 
            id="combattre"      
        >combattre</a>
        </br>
        
        </br>
        
        {% if end == 0 %}
                <p>
                    <a class="col-12 mt-5" href="
                        {{ path('page_351', {'heroId':heroId }) }} 
                        ">you died.
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a> 
                        {# turn to 351.  #}
                </p>
        {% endif %}
        
    </div>

{% endfor %} 
{% endfor %}
</br>
</div>

{% endblock %}