{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        As the last of the foul creatures die, so the greenish light starts to fade. You notice that in each of the broken skulls lies a Gem.
        </br>
        You take these 20 Gems before darkness engulfs the chamber. (The 20 Gems count as one Special Item.)
    </p>
    </br>
    <p>You quickly leave the dead Crypt spawn and press on. 
            <a class="col-12 mt-5" href="
            {{ path('page_23', {'heroId':heroId }) }} 
            ">
                <img class="fleches" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 23. #}
    </p>
    </br>
</div>

{% endblock %}