{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        The path meanders between several small, wooded hills and eventually leads to a ruined log cabin. It seems that it had burnt down not so long ago, for the ashes are still warm and a haze of smoke
        still lingers.
        <!--Illustration -->
        <div class="d-flex justify-content-center mb-5">
            <img src="{{ asset ('assets/img/sillu24.png') }}" alt="" />
        </div>
        You sense possible danger here.
    </p>
    </br>
    <p>You may leave by the south route. 
            <a class="col-12 mt-5" href="
            {{ path('page_42', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 42. #}
    </p>
    </br>
    <p>Or you may take the north track. 
            <a class="col-12 mt-5" href="
             {{ path('page_68', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 68. #}
    </p>
</br>
</div>

{% endblock %}