{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Upon seeing you emerge from the woods, the Giak officer shouts <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">‘Ogot! Ogot!’</span> to his cowering troops, who flee the ruins and run to the safety of the forest.
        </br>
        Shaking his mailed fist at you, the black-clad Giak screams, <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">‘RANEG ROGAG OK, ORGADAKA OKAK ROGAG GAJ!’</span> before leaving. Surveying the scene of battle, you count over fifteen Giak dead lying among the broken pillars of Raumas.
        </br>
        The young wizard wipes his brow and walks towards you, his hand extended in friendship.
    </p>
    </br>
    <p> 
            <a class="col-12 mt-5" href="
            {{ path('page_349', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 349. #}
    </p>
</br>
</div>

{% endblock %}