{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
    You are in the presence of a great evil. Your mind is being probed by a powerful and timeless being and you must shield yourself.
The struggle has begun and your sanity is at stake. It is a long and torturous ordeal, during which you experience many fantastic and terrible apparitions that tempt and appeal you. 
After this you lose 4 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points,  
{% set torture = fall(em,heroId,4) %}
    {% for infoHero in hero %}
        {% if infoHero.endurance < 1 %}
            you died.</p>
            </br>
            <p>
                    <a class="col-12 mt-5" href="
                        {{ path('page_351', {'heroId':heroId }) }}  
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a> 
                       {# turn to 351. #}
                </p>
        {% else %}
            and stagger towards the tunnel.</p>
            </br>
            <p>
                    <a class="col-12 mt-5" href="
                    {{ path('page_104', {'heroId':heroId }) }} 
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 104. #}
            </p>
        {% endif %}
    
    {% endfor %}
     </br>
</div>

{% endblock %}