{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <p>
    You cannot move: you are being held rigid by some powerful force. Your eyes are drawn towards the mouth of the skeleton.
    </br>From deep in the earth you hear a low humming, like the sound of millions of angry bees. A dull red glow appears in the empty eye sockets of the dead King and the humming increases until your ears are filled with the deafening roar. You are in the presence of an ancient evil, far older and stronger than the Darklords themselves.
    </p>
    {# OPTIONS DE CHOIX SI objet id #}
    {% for item in items %}
        {% if item.id == 6 or item.id == 45 %}
            <p>  You possess a Vordak Gem.          
            {#        lien vers la page suivante           #}
                <a class="col-12 mt-5" href="
                {# changer les num de page ci dessous #}
                {{ path('page_236', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 236.  #}
            </p>
        
        {% else %}
            <p>You do not possess a Vordak Gem. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_292', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 292. #}
            </p>
    {% endif %}
    
    {% endfor %}
    </br>
</div>

{% endblock %}