{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    
    <p>
        The path opens out into a large clearing. You notice strange claw prints in the earth. Kraan have landed here. By the number of prints and by the size of the area disturbed, you judge that at least
        five of the foul creatures landed here in the last twelve hours.
        </br>
        You see two exits on the far side of the clearing. One leads west, the other south.
    </p>
    </br>
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiTrack %}
            <p>you have the Kai Discipline of Tracking
                <a class="col-12 mt-5" href="
                {{ path('page_301', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 301.  #}
            </p>
        {% else %}
            </br>
            <p>If you wish to take the south path. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_27', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 27. #}
            </p>
            </br>
            <p>If you wish to take the west path. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_214', {'heroId':heroId }) }} 
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                {# turn to 214. #}
            </p>
        {% endif %}

    {% endfor %}
     </br>
</div>

{% endblock %}