{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        It takes you nearly an hour to reach the citadel. When you arrive  you find that the citizens of Holmgard are in panic and confusion.
        </br>
        Your escort approaches the armoured guards at the main entrance and tells them of your urgent message for the King.
    </p>
</br>
{% set rand = random(9) %}
    {% if rand < 7 %}
    
        <p>
                <a class="col-12 mt-5" href="
                {{ path('page_341', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 341. #}
        </p>
    {% else %}
        <p>
                <a class="col-12 mt-5" href="
                {{ path('page_98', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
            {# turn to 98. #}
        </p>

    {% endif %}
     </br>
</div>

{% endblock %}