{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    
    <p>
        In the distance, perched on the branch of an old oak tree is a jet-black raven.
    <!--Illustration -->
        <div class="d-flex justify-content-center mb-5">
            <img src="{{ asset ('assets/img/sillu8.png') }}" alt="" />
        </div>
    </p>
    </br>
    {% for infoHero in hero %}

        {% if infoHero.kaiAnimal %}
            <p>You have the Kai Discipline of Animal Kinship, you may call to this bird.
                <a class="col-12 mt-5" href="
                {{ path('page_298', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 298.  #}
            </p>
            </br>
            <p>If you do not wish to use your Kai Discipline of Animal Kinship.
                <a class="col-12 mt-5" href="
                {{ path('page_335', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 335. #}
            </p>
        {% else %}
            <p>You do not possess the Kai Discipline of Animal Kinship. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_335', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                {# turn to 335. #}
            </p>
        {% endif %}
    {% endfor %}
    </br>
</div>

{% endblock %}