{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        The path continues eastwards but soon disappears into thick undergrowth.
    </p>
    </br>
    <p>If you continue east, cutting through the vegetation with your weapon. 
            <a class="col-12 mt-5" href="
            {{ path('page_140', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 140. #}
    </p>
    </br>
    <p>If you head south to where the bushes are less dense, and then press on through the forest. 
            <a class="col-12 mt-5" href="
            {{ path('page_215', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 215. #}
    </p>

</br>
</div>

{% endblock %}