{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
    You find a stone portal in the east wall, but there does not appear to be any way of opening it.
If you wish to examine the statue, turn to 133.
If you wish to sit on the seat, turn to 161.

    </p>
    </br>
    <p>If you wish to examine the statue. 
            <a class="col-12 mt-5" href="
            {{ path('page_133', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 133. #}
    </p>
    </br>
    <p>If you wish to sit on the seat. 
            <a class="col-12 mt-5" href="
             {{ path('page_161', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 161. #}
    </p>
</br>
</div>

{% endblock %}