{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}
    {% set id5 = false %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    
    {# variable actualisée quand l'objet a été ramassé #}
        {% if item.id is same as 5 %}
            {% set id5 = true %}
        {% endif %}
    {% endfor %}

<div>
    <p>
        The beast and its rider lie dead. You notice a Scroll tucked into the Giak’s belt.
    
    {% for infoHero in hero %}
        {% if infoHero.backpack == 1 %}
            {% if id5 is same as false %}
            </br> You may take this if you wish.
            </br>
                {% if bpItemsCount is same as 8 %}
                    If you want to take this Scroll you need to drop one of your backpack's item.
                {% else %}
                    </br>Take the scroll.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':5,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/ico-paperRoll.png') }}"
                            alt="a scroll" 
                        />      
                    </a>
                    </br>
                {% endif %}
            {% endif %}     
        {% endif %}
    {% endfor %}
    </br>The other Doomwolves are charging along the path towards you.

    </p>
    </br>
    <p>If you wish to fight them. 
            <a class="col-12 mt-5" href="
            {{ path('page_253', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 253. #}
    </p>
    </br>
    <p>If you wish to escape into the woods. 
            <a class="col-12 mt-5" href="
            {{ path('page_126', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 126. #}
    </p>


    
     </br>
</div>

{% endblock %}