{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu11.png') }}" alt="wood bench" />
    </div>
    <p>
        You soon reach a small clearing in the woods. A bench, carved from a fallen tree is set in the centre of the clearing. You are hungry and must now eat a Meal here.
     </p>
    </br>
{% for infoHero in hero %}
    {% if isLunch == 1 %}
        {% if infoHero.endurance < 1 %}
            <p>You are starving to death. 
                <a class="col-12 mt-5" href="
                {{ path('page_351', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 351. #}
            </p>
        {% else %}
        <p>
            When you have finished:
        </p>
        </br>        
            <p>if you decide to leave the clearing by the south way. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_28', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 28. #}
            </p>
            </br>
            <p>Or if you prefer the smaller track that leads eastwards into the forest.
                    <a class="col-12 mt-5" href="
                    {{ path('page_201', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                {# turn to 201. #}
            </p>
        {% endif %}    
    {% endif %}
{% endfor %}
     </br>
</div>

{% endblock %}