{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You soon reach another crossroads.
    </p>
    </br>
    <p>If you wish to journey east.
        <a class="col-12 mt-5" href="
        {{ path('page_6', {'heroId':heroId }) }}
        ">
            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
        </a>
        {# turn to 6.  #}
    </p>
    </br>
    <p>If you wish to head north.
            <a class="col-12 mt-5" href="
            {{ path('page_35', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 35. #}
    </p>
    </br>
    <p>If you prefer to go south. 
            <a class="col-12 mt-5" href="
            {{ path('page_167', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 167. #}
    </p>
    </br>
    <p>Or if you wish to turn west. 
            <a class="col-12 mt-5" href="
            {{ path('page_42', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 42. #}
    </p>
    </br>
</div>

{% endblock %}