{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}
{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}


{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
    
{% endfor %}

{% for infoHero in hero %}
{% for ennemyInfo in ennemy %}
    
    {% set end = infoHero.endurance %}    
    {% set ennemyCS = ennemyInfo.combatSkill %}
    {% set ennemyEnd = ennemyInfo.endurance %} 
    {% set ennemyId = null %}
    {% set ennemyName = null %}

    <div class="fs-2 d-block w-50" style=" font-family: 'Nanum Brush Script', cursive; ">
        <div class="">
            <h2> Fight for your life </h2>
       {# texte de la page #}

            <h2> les combattants </h2>                                
                        <div class='d-flex justify-content-between'>
                            <div class="text-success">
                                <h3 > {{infoHero.name}}</h3>
                                <h3>Endurance {{infoHero.endurance}}</h3>
                                <h3 > Combat Skill {{CS}}  </h3>
                            </div>
                            
                        {% set ennemyCS = ennemyInfo.combatSkill %}
                        {% set ennemyId = ennemyInfo.id %}
                        {% set ennemyName = ennemyInfo.name %}

                            <div class="text-danger">
                                <h3 > {{ennemyName}}</h3>
                                <h3 > Endurance {{ennemyInfo.endurance}} </h3>
                                <h3 > Combat Skill  {{ennemyCS}} </h3>
                            </div>
                        </div>
        {# {{fightId}} #}
                        
        </div>
{# {{CS}} #}
    {# {% for item in items %}
        {% if item.id == 2 %}
        <!-- Bouton lance popup -->
            <button type="button" class="btn-disciplines fs-3" data-bs-toggle="modal" data-bs-target="#strengthPotion"> <img class="me-3 img-fluid" src="{{ asset ('assets/img/item-potion.png') }}" /> </button>
                        
        <!-- popup potion de force -->
                    <div class="modal fade" id="strengthPotion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="strengthPotionLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen ">
                            <div class="modal-content  ">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="strengthPotionLabel" style="font-family:'Dr Sugiyama', cursive;">Take a potion</h2>
                                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                                        <img class="" style="width:36px;" src="{{ asset ('assets/img/cross-ico.png') }}" /> 
                                    </button>
                                    
                                </div>
                                <div class="modal-body overflow-auto">
                                    
                                            <a  class="btn rounded-circle fs-4" 
                                                href="{{ path( "objDel", {'itemId':item.id,'p':p, 'heroId':heroId} ) }}" 
                                            > 
                                                <img style="width:100px;" src="{{ asset ('assets/img/item-potion.png') }}" alt="Strength Potion" />
                                            </br> Drink potion, COMBAT SKILL +2 for the fight.
                                            </a>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
            {% endif %}
    {% endfor %} #}

        </br>
        </br>

        <a 
            class="btn btn-disciplines fs-1"
            href="{{ path('page_combat',{'heroId':heroId, 'ennemyId':ennemyId,'ennemyName':ennemyName, 'CS':CS, 'CR':CR, 'fightId': fightId,'p':p }) }}"
            type="button" 
            id="combattre"      
        >combattre</a>
        </br>
        
        </br>
        
        {% if end == 0 %}
                <p>
                    <a class="col-12 mt-5" href="
                        {# {{ path('page_351', {'heroId':heroId }) }}  #}
                        ">Vous êtes mort
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a> 
                        turn to 351. 
                </p>
        {% endif %}
        
    </div>

{% endfor %} 
{% endfor %}   


{% endblock %}
