{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    
    <p>
        You quickly escape from the madman and dodge along a dark alleyway where the houses are small and cramped together. At the very end is a green door with a sign above it that says:
        <!--Illustration -->
        <div class="d-flex justify-content-center mb-5">
            <img src="{{ asset ('assets/img/sillu21.png') }}" alt="Sign Kolkanis Sage & Herbalist" />
        </div>
    </p>
    </br>
    
    <p>If you wish to enter. 
            <a class="col-12 mt-5" href="
            {{ path('page_91', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 91. #}
    </p>
    </br>
    <p>If you wish to wait until you are sure the madman has disappeared and then return to the main street. 
            <a class="col-12 mt-5" href="
            {{ path('page_7', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 7. #}
    </p>
</br>
</div>

{% endblock %}