{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu28.png') }}" alt="Giaks warrior and spearman" />
    </div>
    <p>
        You clamber over the loose rocks and into the mouth of the cave, and then quickly turn to push a large rock over the entrance.
        </br>
        After a few minutes you see the Giaks on the rocky ledge outside, their evil yellow eyes furtively searching every crevice of the hillside. They are so close that you feel sure that they must spot you any second now.
    </p>
{% set rand = random(9) %}
    </br>
    {% if rand < 7 %}       
        <p>
                <a class="col-12 mt-5" href="
                {{ path('page_112', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 85. #}
        </p>
    {% else %}
        <p>
                <a class="col-12 mt-5" href="
                {{ path('page_96', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
            {# turn to 96. #}
        </p>
    {% endif %}
     </br>
</div>

{% endblock %}