{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
    The wizard heeds your cry and spins around just in time to loose a searing bolt of energy at the Giak. The creature’s head disintegrates in flames and its twitching body falls in a heap at the foot of the pillar. 
    </br>
    The Giak officer sees you and shouts, ‘Ogot... Ogot!’ to his cowering troops, who quickly run away from the ruins to the safety of the forest beyond.
    </br>
    The young wizard wipes his brow, and walks towards you, his hand extended in gratitude and friendship.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_349', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 349. #}
    </p>

     </br>
</div>

{% endblock %}