{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You can sense that there is someone else behind the screen. There is a lingering aura of wickedness around this shop. Be on your guard something is wrong here.
    </p>
    </br>
    <p>If you wish to return to the street. 
            <a class="col-12 mt-5" href="
            {{ path('page_7', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 7. #}
    </p>
    </br>
    <p>If you wish to examine the goods in the glass counter. 
            <a class="col-12 mt-5" href="
            {{ path('page_152', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 152. #}
    </p>
</br>
</div>

{% endblock %}