{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Waving your arms at the approaching cavalry, you recognize them to be Border Rangers of the King’s army, tough woodsmen who police the troubled western frontier of the kingdom. Your relief at seeing them soon fades when you realize that they are fleeing from a pack of Doomwolves with snarling Giak riders. Black arrows are dropping all around the rangers, as the vicious Doomwolves get nearer and nearer.    </p>
    </br>
    {% for infoHero in hero %}

        {% if infoHero.kaiCamou %}
            <p>You possess the Kai Discipline of Camouflage.
                <a class="col-12 mt-5" href="
                {{ path('page_182', {'heroId':heroId }) }}  
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 182.  #}
            </p>
        {% else %}
            </br>
            <p>If you wish to take cover and hide. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_41', {'heroId':heroId }) }} 
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 41. #}
            </p>
            </br>
            <p>If you wish to make for the other bank. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_116', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                {# turn to 116. #}
            </p>

        {% endif %}
    {% endfor %}
     </br>
</div>

{% endblock %}