{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <p>
        The bodyguard looks at you with great suspicion and then slams the door shut. You can hear the sound of voices inside the caravan. Suddenly the door swings open and the face of a wealthy merchant appears. He demands 10 Gold Crowns as payment for the ride.
    </p>
    </br>
    {% for infoHero in hero %}
        {% if infoHero.gold > 9 %}
            <p>You have 10 Gold Crowns, and wish to pay him.         
                <a class="col-12 mt-5" href="
                {{ path('page_262', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 262.  #}
            </p>
            </br>
            <p>you do not wish to pay him. 
                <a class="col-12 mt-5" href="
                {{ path('page_247', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
            {# turn to 247. #}
            </p>
            {% else %}
                <p>You do not have enough Gold Crowns to pay him. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_247', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
            {# turn to 247. #}
            </p>
        {% endif %}
        
    {% endfor %}
    </br>
</div>

{% endblock %}