{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    {% set fall = fall(em, heroId, 1) %}
    <p>
        The stable door is open and you can hear the breathing of a horse from inside the darkened interior. Suddenly, the horse senses your presence and rushes past, knocking you to the ground. 
        </br>
       You lose 1 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> point.
    </p>
    
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiAnimal %}
        </br>
            <p>If you wish to use the Kai Discipline of Animal Kinship.      
            
                <a class="col-12 mt-5" href="
                {{ path('page_122', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 122.  #}
            </p>
        {% endif %}
    {% endfor %}
    </br>    
    <p>If you wish to chase after the runaway horse. 
            <a class="col-12 mt-5" href="
            {{ path('page_233', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 233. #}
    </p>
    
    
     </br>
</div>

{% endblock %}