{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
{% set rand = random(0,9) %}
    {% if rand < 5 %}
            <p>You have been seen.        
                <a class="col-12 mt-5" href="
                {{ path('page_286', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 286.  #}
            </p>
    {% else %}          
        <p>They do not spot you and they slowly file away along the far side of the ridge. 
                <a class="col-12 mt-5" href="
                {{ path('page_275', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
            {# turn to 275. #}
        </p>

    {% endif %}
     </br>
</div>

{% endblock %}