{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

{% set coins = 16 %}
<div>
    <p>
        The Sage, seeing that you have killed his son, turns and runs from the shop by a back door.
        You find 12 Gold Crowns in the robber’s purse and another 4 Gold Crowns in a wooden box under the counter. 
        {% for infoHero in hero %}

            {% if infoHero.gold < 50 and infoHero.goldTake == 0 %}
                </br></br>
                    <a 
                        class="btn btn-disciplines rounded-circle skull"             
                        href="{{ path( "add_gold", {'p':p, 'heroId':heroId, 'coins':coins} ) }}"  
                    >  Take the gold:
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-pouch.png') }}"
                            alt="Gold Crowns" />      
                    </a>
                </br>  
            {% endif %}
        {% endfor %}
        </br>
        Carefully examining the potions and the wand you soon realize that they are all cheap counterfeits. In fact the entire shop is full of imitations.
        </br>
        You shake your head and return to the main street.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_7', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 7. #}
    </p>
    </br>
</div>

{% endblock %}