{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}
{% set idMace = false %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 

        {% if item.id == 15 %}
            {% set idMace = true %}
        {% endif %}
    {% endfor %}

<div>
    <p>
        Hurrying through the forest, you stumble and fall down a steep slope which drops you in a heap on a hidden path below. On the path is a dead body. It is a Giak, a spiteful and ghoulish servant of the Darklords. 
        </br>
        Many centuries ago, their ancestors were used by the Darklords to build for them the infernal city of Helgedad, which lies in the volcanic wastelands beyond the Durncrag range of mountains. The construction of the city was a long and torturous nightmare, and only the strongest of the Giaks survived the heat and poisonous atmospheres of Helgedad. 
        </br>
        This creature that lies before you is a descendant of these Giak slaves. It has been killed by a sword blow to its head, and by its side lies a Mace. 
    </p>
   
    {% for infoHero in hero %}
        {% if idMace is same as false %}
      
            {% if handItemCount is same as 2  %}
                <p>
                    If you want to take the Mace, you need to drop one of your weapon.
                </p>
            {% else %}
                <p> You may take this Weapon if you wish.
               </br> Take the Mace.</p>
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':15,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                        style="width:80px; "
                        src="{{ asset ('assets/img/item-Mace.png') }}"
                        alt="a sword" />      
                    </a>
                    </br>
            {% endif %}    
        {% endif %}
    {% endfor %}    
    
    </br>
    <p>Continue along the hidden path. 
            <a class="col-12 mt-5" href="
            {{ path('page_97', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 97. #}
    </p>


  
     </br>
</div>

{% endblock %}