{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <p>
        The path is wide and leads straight into thick undergrowth. 
        The trees are tall here and unusually quiet. 
        You walk for over a mile when suddenly you hear the beating of large wings directly above you. 
        Looking up, you are shocked to see the sinister black outline of a Kraan diving to attack you.
    </p>
    </br>
    {% for infoHero in hero %}

    <p>  If you draw your weapon and prepare to fight.   
            <a class="col-12 mt-5" href="
                {{ path('page_229', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
             {# turn to 229.  #}
        </p>
    
    </br>
    <p>If you evade the attack by running south, deeper into the forest. 
            <a class="col-12 mt-5" href="
            {{ path('page_99', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 99. #}
    </p>
    
    {% endfor %}
    </br>
</div>

{% endblock %}