{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}
{% set hit = fall(em, heroId, 6) %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu23.png') }}" alt="gem hovering above a skeleton mouth" />
    </div>
    <p>
        The Gem hovers above the mouth of the skeleton king, glowing a fierce red. Suddenly, an explosion of searing crimson flame lashes upwards from the sarcophagus, destroying the Gem completely. 
        You are thrown against the far wall and knocked unconscious.
        </br>
        When you awake, the chamber is completely empty. The skeleton king and the sarcophagus have vanished. You have lost 6 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points, and your initial <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL</span> is reduced by 1 point for the rest of your life.
        </br>
        You carefully get to your feet and stagger towards the tunnel.
    </p>
    </br>
    
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_104', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 104. #}
    </p>

     </br>
</div>

{% endblock %}