{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <p>
        Just ahead through the tall trees you can see clumps of dark-red gallowbrush, a thorny briar with sharp crimson barbs.
        The common name for this forest weed is 'Sleeptooth', for the thorns are very sharp and can make you feel weak and sleepy if they scratch your skin.
    </p>
    </br>
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiTrack %}
            <p>You use the Kai Discipline of Tracking         
                <a class="col-12 mt-5" href="
                {{ path('page_69', {'heroId':heroId }) }}  
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 69.  #}
            </p>
            {% else %}
                <p>You can avoid the Sleeptooth by returning to the track. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_272', {'heroId':heroId }) }} 
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 272. #}
                </p>
                </br>
                <p>Or you can push on through the briars, deeper into the forest. 
                        <a class="col-12 mt-5" href="
                         {{ path('page_119', {'heroId':heroId }) }} 
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a>
                    {# turn to 119. #}
                </p>
        {% endif %}
        
    {% endfor %}
    </br>
</div>

{% endblock %}