{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}
    {% set id18 = false %}
{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %}
        
        {# variable actualisée quand l'objet a été ramassé #}
        {% if item.id is same as 18 %}
            {% set id18 = true %}
        {% endif %}

    {% endfor %}
    
<div>
    <p>
        You pass through a long, dark tunnel of overhanging branches that eventually opens out into a large clearing. On a stone plinth in the centre of the clearing is a Sword, sheathed in a black leather scabbard. A handwritten note has been tied to the hilt, but it is in a language which is foreign to you.
    
{% if id18 is same as false %}
    </br></br>
    {% if handItemCount is same as 2 %}
        If you want to take this sword you need to drop one of your weapon.
    {% else %}
        You may take the Sword if you wish.
        
        <a 
            class="btn btn-disciplines rounded-circle"             
            href="{{ path( "objAdd", {'itemId':18,'p':p, 'heroId':heroId} ) }}"  
        >  
            <img 
                    style="width:100px; "
                    src="{{ asset ('assets/img/item-sword1.png') }}"
                    alt="a sword" />      
        </a>
    {% endif %}    
{% endif %}
    </br></br>
        There are three exits from the clearing.
    </p>
    </br>
    {% for infoHero in hero %}
        <p>If you decide to go east.   
            <a class="col-12 mt-5" href="
             {{ path('page_207', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
                {# turn to 207.  #}
        </p>
        </br>
        <p>If you decide to go west. 
            <a class="col-12 mt-5" href="
            {{ path('page_201', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 201. #}
        </p>
        </br>
        <p>If you decide to go south. 
            <a class="col-12 mt-5" href="
            {{ path('page_35', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 35. #}
    </p>


    {% endfor %}
    </br>
</div>

{% endblock %}