{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu5.png') }}" alt="burning gem" />
    </div>
    <p>
        The gem feels very hot and burns your hand making you lose 2 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points. 
        You quickly grab it with the edge of your cloak and slip it into the pocket of your Backpack. 
        A Gem that size must be worth hundreds of Crowns! You smile at your good fortune, mount your horse and ride off along the south track.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_118', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 118. #}
    </p>
    </br>
</div>

{% endblock %}