{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
    The Prince’s horse is indeed a magnificent animal, fast and sure of foot. You gallop along the twisting track as if it were a straight highway, until the noise of battle has disappeared far behind you.
    </br>
    You are hungry and must eat a Meal during your ride.
    </p>
{% for infoHero in hero %}
{% if isLunch == 1 %}
    
    </br>
    {% if infoHero.endurance < 1 %}
        <p>You are starving to death. 
            <a class="col-12 mt-5" href="
            {{ path('page_351', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 351. #}
        </p>
    {% else %}
    <p>
        After several miles, the path stops abruptly at a junction. There is a signpost, but it has been hacked down.
    </p>
    
    {# {% for infoHero in hero %} #}
        {% if infoHero.kaiTrack %}
            </br>
            <p>If you wish to use your Kai Discipline of Tracking
                <a class="col-12 mt-5" href="
                {{ path('page_254', {'heroId':heroId }) }}  
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 254.  #}
            </p>
        {% endif %}
        
            </br>
            <p>If you wish to turn left. 
                    <a class="col-12 mt-5" href="
                {{ path('page_32', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 32. #}
            </p>
            </br>
            <p>If you wish to turn right. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_146', {'heroId':heroId }) }} 
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                {# turn to 146. #}
            </p>
   
    {% endif %} 
{% endif %}
{% endfor %} 
     </br>
</div>

{% endblock %}