{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You have run about a mile when three soldiers appear from beneath a small footbridge. They demand that you halt and drop your weapons and equipment.
        </br>
        They are bloodstained and unshaven. Their leader is wearing the tunic of a soldier of the Toran garrison.
    </p>
    </br>
    {% for infoHero in hero %}

        {% if infoHero.kaiSix %}
            <p>You possess the Kai Discipline of Sixth Sense.  
                <a class="col-12 mt-5" href="
                {{ path('page_45', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 45.  #}
            </p>
        {% else %}
        </br>
    <p>If you wish to do as they say. 
            <a class="col-12 mt-5" href="
            {{ path('page_205', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 205. #}
    </p>
    </br>
    <p>If you wish to prepare to fight them. 
            <a class="col-12 mt-5" href="
            {{ path('page_180', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 180. #}
    </p>
    </br>
    <p>If you demand to know what they want. 
            <a class="col-12 mt-5" href="
            {{ path('page_232', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 232. #}
    </p>

    {% endif %}
    {% endfor %}
     </br>
</div>

{% endblock %}