{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You have ridden about a mile when you are knocked from your horse by an arrow grazing your forehead.
     {% set fall = fall(em, heroId,3) %} 
        </br>
        You lose 3 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points.
     {% for infoHero in hero %}
            {% if infoHero.endurance < 1 %}
                    Alas, you die. </p>
                    </br>
                    <p>
                        <a class="col-12 mt-5" href="
                        {{ path('page_351', {'heroId':heroId }) }}
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a>
                        {# turn to 351. #}
                    </p>
            {% else %}
                As you pull yourself to your feet, you see a patrol of Drakkarim emerge from the woods on either side of the road. You have been ambushed and must evade them as quickly as possible by going into the forest.
                </p>
                <p>
                        <a class="col-12 mt-5" href="
                        {{ path('page_154', {'heroId':heroId }) }}
                        ">
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a>
                    {# turn to 154. #}
                </p>
            {% endif %}

    {% endfor %}
     </br>
</div>

{% endblock %}