{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}
    {% set id13 = false %}
{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 

        {# variable actualisée quand l'objet a été ramassé ou déjà possédé #}
        {% if item.id is same as 13 %}
            {% set id13 = true %}
        {% endif %}
    {% endfor %}

{% set coins = 20 %}
<div>
    <p>
        The slimy creature lets out a long, ghastly death-cry and collapses. You are near to panic and 
        scramble to your feet, grabbing what you think to be your belt from the jaws of the dead beast. 
        You can see light in the far distance, and you sprint for it as fast as you can. When you finally 
        emerge into the daylight, you fall onto the leafy ground and fight for breath in painful gasps.
        </br>
        Slowly sitting upright, you notice that you are still wearing your belt, you had not lost it after all. 
        What you grabbed from the jaw of the Burrowcrawler was a leather strap with a small pouch and a 
        sheathed Dagger halfway along it. 
        </br>
        You break open the clasp to find it contains 20 Gold Crowns. 
        {% for infoHero in hero %}

            {% if infoHero.gold < 50 and infoHero.goldTake == 0 %}
                </br></br>
                
                Take gold.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "add_gold", {'p':p, 'heroId':heroId, 'coins':coins} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-pouch.png') }}"
                            alt="Gold Crowns" />      
                    </a>
                   
            {% endif %}
        {% if infoHero.backpack == 1 %}
            {% if id13 is same as false %}
                </br></br>
                {% if handItemCount is same as 2  %}
                    If you want to take this dagger you need to drop one of your weapon first.
                {% else %}
                    Take the dagger.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':13,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-dagger.png') }}"
                            alt="a meal" />      
                    </a>
                {% endif %} 
            {% endif %}
        {% endif %}
    {% endfor %}
        </br>
        Feeling a little better now, you gather your Equipment together and push on eastwards into the forest.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_157', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 157. #}
    </p>

     </br>
</div>

{% endblock %}