{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You are feeling tired and hungry and you must stop to eat.
        </br>
    </p>    
    
    {% for infoHero in hero %}
{% if isLunch == 1 %}
    
    </br>
    {% if infoHero.endurance < 1 %}
        <p>You are starving to death. 
            <a class="col-12 mt-5" href="
            {{ path('page_351', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 351. #}
    </p>

    {% else %}
        <p>    
        After your Meal, you retrace your steps back to the citadel and begin to walk around the high, indomitable stone wall.
        You discover another entrance on the eastern side, guarded as before by two armoured soldiers.
    </p>
    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiCamou %}
            <p>If you wish to use the Kai Discipline of Camouflage.      
                <a class="col-12 mt-5" href="
                 {{ path('page_282', {'heroId':heroId }) }}   
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 282.  #}
            </p>
        {% else %}
            <p>You approach them to tell your story. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_289', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                    {# turn to 289. #}
            </p>
        {% endif %}    
    {% endif %} 
{% endif %}  
{% endfor %}
</br>
</div>

{% endblock %}