{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration XII -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/ill12.png') }}" alt="You notice a large merchant’s caravan in the centre of the dusty turnpike." />
    </div>
    <p>
        Night is starting to close in. The shadows of the forest are growing longer and darker. Just as you are about to stop and rest, you see through the trees a line of people moving south along a wide highway. Moving closer, you notice a large merchant’s caravan in the centre of the dusty turnpike. It is drawn by six large horses and is moving much faster than any of the other traffic. This could be your chance to reach the capital as quickly as possible.
    </p>
    </br>
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiCamou %}
            <p>If you wish to use the Kai Discipline of Camouflage to hide in among the packing cases strapped to the roof
            {#        lien vers la page suivante           #}
                <a class="col-12 mt-5" href="
                {# changer les num de page ci dessous #}
                {{ path('page_168', {'heroId':heroId }) }}  
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 168.  #}
            </p>
        {% endif %}
        </br>
    <p>If you wish to jump onto the caravan. 
            <a class="col-12 mt-5" href="
            {{ path('page_78', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 78. #}
    </p>
    
    {% endfor %}
     </br>
</div>

{% endblock %}