{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Just as you feel the air beating on your back, you slip free of your horse and roll over landing with a splash in a muddy ditch by the side of the highway.
    </br>
        You are uninjured, and you quickly scramble to your feet and make a dash for the cover of the trees but with thirty yards left to run, you see the Kraan circling above for another dive.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_188', {'heroId':heroId }) }}
            ">
                <img class="fleches" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 188. #}
    </p>
    </br>
</div>

{% endblock %}