{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}
    {% set idDag = false %}
    {% set id3 = false %}
{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 

        {# variable actualisée quand l'objet a été ramassé ou déjà possédé #}
        {% if item.id is same as 3 %}
            {% set id3 = true %}
        {% endif %}
        {% if item.id is same as 13 %}
            {% set idDag = true %}
        {% endif %}

    {% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/ill15.png') }}" alt="Opening the bag, you find a message." />
    </div>
    <p>
        Covering your nose with your cloak, you cautiously approach the dead beast. The sharp smell of its fetid black blood makes your stomach churn, but you are determined to press on. Then you notice a large saddlebag strapped to its chest. Opening the bag, you find a Message written on an animal skin.
        </br>
        Deeper in the bag is a Dagger. </br>You may keep both the Message and the Dagger if you wish.
</br>
    {% for infoHero in hero %}
        {% if infoHero.backpack == 1 %}
            {% if id3 is same as false %}
                </br>
                {% if bpItemsCount is same as 8 %}
                    If you want to take this Message you need to drop one of your backpack's item.
                {% else %}
                    Take the Message.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':3,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/ico-paperRoll.png') }}"
                            alt="a message" />      
                    </a>
                    </br></br>
                {% endif %} 
            {% endif %}
        {% endif %}
        {% if idDag == true %}
                You already have a dagger.</br>
        {% endif %}
        {% if idDag is same as false %}
            </br> </br>
                {% if handItemCount is same as 2  %}
                    If you want to take the dagger you need to drop one of your weapon.
                {% else %}
                    Take the dagger.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':13,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                        style="width:80px; "
                        src="{{ asset ('assets/img/item-dagger.png') }}"
                        alt="a dagger" />      
                    </a>
                    </br></br>
                {% endif %}
        {% endif %}
    {% endfor %}
You leave the body and continue eastwards along the path.
</p>
    
    </br>
    <p>
            <a class="col-12 mt-5" href="
             {{ path('page_125', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 125. #}
    </p>


    
     </br>
</div>

{% endblock %}