{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You thank your Kai training and your quick thinking, for that bog could have proved as deadly as any Drakkarim or Kraan.
        </br>You are worried about losing time, and push on further into the trees towards the south. Ahead of you, you see a wide path that also leads south.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_118', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 118. #}
    </p>

     </br>
</div>

{% endblock %}