{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        The track soon disappears completely into a tangle of thorny brambles and low-branched fir trees.
    </p>
    </br>
    <p>If you decide to return to the junction and head east. 
            <a class="col-12 mt-5" href="
            {{ path('page_13', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 13. #}
    </p>
    </br>
    <p>If you decide to hack your way slowly through the undergrowth in this present direction. 
            <a class="col-12 mt-5" href="
            {{ path('page_330', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 330. #}
    </p>
 </br>
</div>

{% endblock %}