{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Night falls and you are soon engulfed in darkness. To press on any further would be futile, for you would be sure to lose your way. Tethering your horse to a tree, you pull your green Kai cloak about you and fall into a restless sleep.
        </br>
        You are awoken by the sound of troops in the distance. Across the lake you see the black shapes of Drakkarim and a pack of Doomwolves. A Kraan appears from above the trees and lands on the roof of the small wooden shack. It is being ridden by a creature dressed in red robes. The Kraan takes off and begins to fly across the lake to where you are hidden.
    </p>
    </br>
    {% for infoHero in hero %}
        {% if infoHero.kaiCamou %}
            <p>If you wish to use the Kai Discipline of Camouflage to hide yourself and your horse.
                <a class="col-12 mt-5" href="
                {{ path('page_114', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 114.  #}
            </p>
        {% endif %}
    {% endfor %}
        </br>
        <p>If you wish to ride deeper into the forest to escape the Kraan. 
            <a class="col-12 mt-5" href="
            {{ path('page_239', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 239. #}
        </p>
    </br>
        <p>If you wish to prepare to fight the creature. 
            <a class="col-12 mt-5" href="
            {{ path('page_29', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 29. #}
    </p>
 
     </br>
</div>

{% endblock %}