{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You have been walking for over half an hour when your eye is caught by some bright red flowers growing near to a mossy bank.
        You recognize the plants to be Laumspur, a rare and beautiful herb much prized for its healing properties.
        </br>
        Kneeling down, you pick a handful of Laumspur and place it in your Backpack.
        You may eat this herb to regain lost <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span>. Each Meal of Laumspur will restore 3 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points, and you have gathered enough for two such Meals. 
        </br>
        Closing your pack, you continue your mission.
        </br></br>
        <i>Each Meal of Laumspur may be consumed when prompted for a Meal,
        in which case it fulfils the Meal requirement in addition to restoring 3 <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points. Laumspur may also be consumed at any other time to
        restore <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> without having any significance as a Meal.</i>
    </p>
    </br>
    <p>If you wish to head northeast. 
            <a class="col-12 mt-5" href="
            {{ path('page_347', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 347. #}
    </p>
    </br>
    <p>If you wish to head east. 
            <a class="col-12 mt-5" href="
            {{ path('page_295', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 295. #}
    </p>

     </br>
</div>

{% endblock %}