{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

    {# variable initialisée pour tester si l'objet a été ramassé #}
    {% set id35 = false %}
    {% set id36 = false %}
    {% set id37 = false %}
    {% set idSword = false %}

{# controle de l'espace disponible dans le backpack ou en main #}

    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %}

    {# variable actualisée quand l'objet a été ramassé ou déjà possédé #}
        {% if item.id is same as 35 %}
            {% set id35 = true %}
        {% endif %}
        {% if item.id is same as 36 %}
            {% set id36 = true %}
        {% endif %}
        {% if item.id is same as 37 %}
            {% set id37 = true %}
        {% endif %}
        {% if item.id == 18 or item.id == 20 %}
            {% set idSword = true %}
        {% endif %}

    {% endfor %}

{% set coins = 28 %}

<div>
    <p>
        The ‘soldiers’ lie dead at your feet. They were bandits who were stealing from the refugees of Toran, and from the abandoned houses and farms in the area.
        </br>
        Searching their bodies you find 28 Gold Crowns  and two Backpacks containing enough food for 3 Meals.
        
    {% for infoHero in hero %}

            {% if infoHero.gold < 50 and infoHero.goldTake == 0 %}
                </br></br>
                
                Take gold.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "add_gold", {'p':p, 'heroId':heroId, 'coins':coins} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-pouch.png') }}"
                            alt="Gold Crowns" />      
                    </a>
                   
            {% endif %}
        {% if infoHero.backpack == 1 %}
            {% if id35 is same as false %}
                </br></br>
                {% if bpItemsCount is same as 8 %}
                    If you want to take this Food you need to drop one of your backpack's item.
                {% else %}
                    Take one Meal.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':35,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-food.png') }}"
                            alt="a meal" />      
                    </a>
                {% endif %} 
            {% endif %}
            
            {% if id36 is same as false %}
                </br></br> 
                {% if bpItemsCount is same as 8 %}
                    If you want to take this Food you need to drop one of your backpack's item.
                {% else %}
                    Take one Meal.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':36,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                        style="width:80px; "
                        src="{{ asset ('assets/img/item-food.png') }}"
                        alt="a meal" />      
                    </a>
                {% endif %} 
            {% endif %}
            {% if id37 is same as false %}
                </br></br> 
                {% if bpItemsCount is same as 8 %}
                    If you want to take this Food you need to drop one of your backpack's item.
                {% else %}
                    Take one Meal.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':37,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                        style="width:80px; "
                        src="{{ asset ('assets/img/item-food.png') }}"
                        alt="a meal" />      
                    </a>
                {% endif %} 
            {% endif %}
        {% endif %}    
    {% endfor %}
        </br></br>
        They had been armed with a crossbow and three Swords. The crossbow has been damaged in the fight, but the Swords are untouched and you may keep one if you wish.
        {% if idSword == true %}
                </br>You already have a sword.
        {% endif %}
        {% if idSword is same as false %}
            </br> </br>
                {% if handItemCount is same as 2  %}
                    If you want to take a sword you need to drop one of your weapon.
                {% else %}
                    Take a sword.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':18,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                        style="width:80px; "
                        src="{{ asset ('assets/img/item-sword1.png') }}"
                        alt="a sword" />      
                    </a>
                    </br>
                {% endif %}
        {% endif %}
    </br>
    You adjust your equipment, give a cautious glance towards the west and continue your run towards the outer defences of the capital.

    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_288', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 288. #}
    </p>
    </br>
</div>

{% endblock %}