{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Cautiously, you move along the corridor until you come to a sharp eastward turn. A strange greenish light can be seen in the distance.
    
    </p>
    </br>
    <p>If you wish to continue. 
            <a class="col-12 mt-5" href="
            {{ path('page_249', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 249. #}
    </p>
    </br>
    <p>If you wish to go back and try the southern route. 
            <a class="col-12 mt-5" href="
            {{ path('page_100', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 100. #}
    </p>


</br>  
</div>

{% endblock %}