{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu17.png') }}" alt="equipment and Giak rider" />
    </div>
    <p>
        You hide behind some thick bushes so that the Doomwolf and its rider will not see your white horse. Luckily it works the beast lopes past and vanishes down the track that you have just come along.
    </p>
    </br>
    <p>If you wish to attack the remaining Doomwolves and their riders. 
            <a class="col-12 mt-5" href="
            {{ path('page_253', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 253. #}
    </p>
    </br>
    <p>If you wish to press on deeper into the forest. 
            <a class="col-12 mt-5" href="
            {{ path('page_126', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 126. #}
    </p>

    </br>
</div>

{% endblock %}