{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Night falls and you are soon engulfed in total darkness. To press on would be useless, for you would be sure to lose your way.
        </br>
        Tethering your horse to a tree, you pull your green Kai cloak about you and fall into a restless sleep.
    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_18', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 18. #}
    </p>
    
    </br>
</div>

{% endblock %}