{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You soon realize that you are walking deeper into a wooded marsh.
        </br>
        To continue in this direction will be slow and hazardous. 
    </p>
    </br>
    <p>If you wish to continue. 
            <a class="col-12 mt-5" href="
            {{ path('page_227', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 227. #}
    </p>
    </br>
    <p>If you wish to change direction and head towards firmer ground. 
            <a class="col-12 mt-5" href="
            {{ path('page_95', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 95. #}
    </p>
</br>
</div>

{% endblock %}