{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <!--Illustration IX / A young theurgist of the Magicians’ Guild of Toran.-->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/ill9.png') }}" alt="A young theurgist of the Magicians’ Guild of Toran" />
    </div>
    <p>
        You have covered about a quarter of a mile when you hear shouting and a noise like thunderclaps ahead. Edging nearer, you soon make out a clearing that you recognize to be the site of the ruins of Raumas, an ancient forest temple.
        </br>
        A war party of Giaks, some twenty-five to thirty strong, are attacking the ruins from all sides.
         Many more of the Giaks are dead or dying among the broken pillars of marble, but still they assault whatever is hidden inside.
          Suddenly, a bolt of blue lightning rips through the front rank of Giaks sending the armour-clad creatures 
          tumbling in all directions. A Giak, taller than the others and dressed from head to foot in black chainmail, 
          curses at his troops as he whips them forward with a barbed flail.
        </br>
        With weapon ready, you move to the edge of the clearing, under cover of the thick foliage, 
        and try to catch a glimpse of thedefenders. To your amazement, the ruins are being defended by a young man no older than yourself. 
        You recognize his sky-blue robes, embroidered with stars. He is a young theurgist of the Magicians’ Guild of Toran: 
        an apprentice in magic.
        </br>
        Five Giaks charge forward, their spears raised to stab the apprentice as he hurriedly retreats deeper into the ruins. 
        You see him turn and raise his left hand just before a bolt of blue flame shoots from his fingertips into the snarling Giak soldiers. 
        Close to where you are hidden, you see a Giak scuttle past and climb one of the pillars of the temple. 
        He has a long curved dagger in his mouth and he is about to jump on the young wizard standing below.
        </p>
    </br>
    {% for infoHero in hero %}

    <p>If you wish to shout a warning to the wizard. 
            <a class="col-12 mt-5" href="
            {{ path('page_241', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {#  turn to 241 #}
    </p>
    </br>
    <p>If you wish to run forward and attack the Giak when he jumps. 
            <a class="col-12 mt-5" href="
             {{ path('page_55', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 55 #}
    </p>
    </br>
    <p>If you wish to pick up a chunk of temple marble and throw it at the Giak’s head.
            <a class="col-12 mt-5" href="
            {{ path('page_302', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {#  turn to 302 #}
    </p>
    </br>
    <p>Or if you would rather turn and leave the battle area, and run back into the woods.
 
            <a class="col-12 mt-5" href="
            {{ path('page_101', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 101 #}
    </p>
    {% endfor %}
    </br>
</div>

{% endblock %}