{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}
{# variable initialisée pour tester si l'objet a été ramassé #}
    {% set id2 = false %}
{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}

    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {# variable actualisée quand l'objet a été ramassé #}
        {% if item.id is same as 2 %}
            {% set id2 = true %}
        {% endif %}
    {% endfor %}


<div>
    <p>
    Carefully opening the seals on each of the bottles, you sniff at the contents. They all seem to be different types of wine. Suddenly a smaller bottle tucked behind the others catches your eye. Pulling out the glass stopper, you recognize the smell to be that of Alether, a Potion of Strength, which is orange in colour.
{% for infoHero in hero %}
    {% if infoHero.backpack == 1 %}
        </br>
        You may keep this Potion and swallow it before you fight. It will increase your <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL</span> by 2 points for the duration of your fight. 

            {% if id2 is same as false %}
                </br></br>
                {% if bpItemsCount is same as 8 %}
                    If you want to take this Potion you need to drop one of your backpack's item.
                {% else %}
                    Take the Strength Potion.
                    <a 
                        class="btn btn-disciplines rounded-circle"             
                        href="{{ path( "objAdd", {'itemId':2,'p':p, 'heroId':heroId} ) }}"  
                    >  
                        <img 
                            style="width:80px; "
                            src="{{ asset ('assets/img/item-potion.png') }}"
                            alt="a sword" />      
                    </a>
                {% endif %} 
            {% endif %}
    {% endif %}
    </p>
    </br>    
    <p>You now decide to investigate the stable. 
            <a class="col-12 mt-5" href="
            {{ path('page_308', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 308. #}
    </p>
{% endfor %}
     </br>
</div>

{% endblock %}