{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <p>
        After a few hundred yards, the path joins another one running north to south.
    </p>
    </br>
    {% for infoHero in hero %}
    <p>If you wish to go northwards. 
            <a class="col-12 mt-5" href="
            {{ path('page_130', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 130. #}
    </p>
    </br>
    <p>If you wish to head south. 
            <a class="col-12 mt-5" href="
            {{ path('page_147', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 147. #}
    </p>


    {% endfor %}
    </br>
</div>

{% endblock %}