{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        You walk along a dimly lit corridor which opens out into a large square room, with an oak door in the far wall.
    </p>
    </br>
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiSix %}
            <p>You possess the Kai Discipline of Sixth Sense.  
            {#        lien vers la page suivante           #}
                <a class="col-12 mt-5" href="
                {{ path('page_244', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 244.  #}
            </p>
        {% else %}
            </br>
            <p>If you wish to walk across to the door. 
                <a class="col-12 mt-5" href="
                {{ path('page_173', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 173. #}
            </p>
            </br>
            <p>If you would prefer to return to the surface and continue your journey. 
                <a class="col-12 mt-5" href="
                {{ path('page_106', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
            {# turn to 106. #}
            </p>

        {% endif %}
    {% endfor %}
     </br>
</div>

{% endblock %}