{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Although a little overcooked, the food tastes fine (although it is not enough for a whole Meal) and the clear water slakes your thirst.
        </br>
        You have spent nearly half an hour resting in this house when you suddenly realize the delay.
        Prepare your equipment and leave. 

    </p>
    </br>
    <p>
            <a class="col-12 mt-5" href="
            {{ path('page_83', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 83. #}
    </p>
</br>
</div>

{% endblock %}