{% extends 'base.html.twig' %}

{% block title %}LoneWolf Fuite{% endblock %}
{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}


{% block body %}

{% for infoHero in hero %}
    {% for combat in combats %}  
 
        <div class="fs-2 d-block w-50" style=" font-family: 'Nanum Brush Script', cursive; ">
        
        <div class="">
            </br>
            <div class="text-success">
                <h3 > {{infoHero.name}}</h3>
                <h3>Endurance {{combat.endL}}</h3>
            </div>
        </div>
     {% set combattre = combattre(em, hero, cT, CR, fightId ) %}
      
     {# {% set combattre = null %}  #}

    {% if endL <= 0 %}
        {% set combattre = null %} 
        <p>You died.
            </br>
            <a class="col-12 mt-5" href="
            {{ path('page_351', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a> 
            {# turn to 351. #}
        </p>
        </br>
    {% endif %}

{# page de fuite en fonction de la page d'origine #}
    {% if pageOrigine == 43 %}
            {{ include('optionFuite/_page43F.html.twig') }} 
    {% endif %}
    {% if pageOrigine == 169 %}
            {{ include('optionFuite/_page169F.html.twig') }} 
    {% endif %}
    {% if pageOrigine == 180 or pageOrigine == 1802 or pageOrigine == 1803 %}
            {{ include('optionFuite/_page180F.html.twig') }} 
    {% endif %}
    {% if pageOrigine == 220 or pageOrigine == 191 %}
            {{ include('optionFuite/_page220F.html.twig') }} 
    {% endif %}
    {% if pageOrigine == 231 or pageOrigine == 339 %}
            {{ include('optionFuite/_page231F.html.twig') }} 
    {% endif %}

        </br>
    </div>

    {% endfor %}  
{% endfor %}   


{% endblock %}
