{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        When you awake, you find yourself lying at the foot of a steep slope in a tangle of tall grasses. Your Backpack and Weapon are missing and your head aches. You cannot tell how long you have been unconscious, but you realize that you must not delay in pressing on with your mission.
        </br>
        Standing up, you see your Backpack is intact but the Weapon is broken in two and is now useless. 
        
        Remember to cross it off your Action Chart. (If you have more than one weapon, only one of
them is broken, you may choose which one it is.) 
        </br>
        You quickly pick up your Backpack and move off into the trees ahead.
        </p>
    </br>
    <p> 
            <a class="col-12 mt-5" href="
            {{ path('page_113', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 113. #}
    </p>
</br>
</div>

{% endblock %}