{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu3.png') }}" alt="Potions on shelves" />
    </div>
    <p>
        The cabin has only one room. In it you see a wooden table and two benches, a large bed made of straw bales lashed together, several bottles of coloured liquids and an embroidered rug in the centre of the floor.
    </p>
    </br>
    <p>If you choose to take a closer look at the bottles.          
        <a class="col-12 mt-5" href="
        {{ path('page_164', {'heroId':heroId }) }}  
        ">
            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
        </a>
        {# turn to 164.  #}
    </p>
    </br>
    <p>If you choose to pull back the rug. 
        <a class="col-12 mt-5" href="
        {{ path('page_109', {'heroId':heroId }) }}
        ">
            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
        </a>
        {# turn to 109. #}
    </p>
    </br>
    <p>If you choose to leave the room and investigate the stable. 
        <a class="col-12 mt-5" href="
        {{ path('page_308', {'heroId':heroId }) }} 
        ">
            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
        </a>
        {# turn to 308. #}
    </p>

     </br>
</div>

{% endblock %}