{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        The merchant looks angry. He calls to his bodyguard. You must think of something quickly.
    </p>
    </br>
    <p>If you decide to offer him something of greater value that you have in your Backpack. 
            <a class="col-12 mt-5" href="
            {{ path('page_159', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 159. #}
    </p>
    </br>
    <p>If you prepare to fight the bodyguard. 
            <a class="col-12 mt-5" href="
            {{ path('page_220', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 220. #}
    </p>



     </br>
</div>

{% endblock %}