{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <p>
        Staying underwater for as long as you can, you finally surface to see the Giaks far behind you. You have lost your Weapon(s) and Backpack but at least you are still alive.
        </br>You wade out of the muddy water and continue your journey under cover of the trees that line the right-hand bank.
    </p>
    {% set rand = random(9) %}
    </br>
        {% if rand < 3 %}
            <p>            
                <a class="col-12 mt-5" href="
                {{ path('page_230', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 230.  #}
            </p>
        {% elseif rand > 6 %}       
        <p>
                <a class="col-12 mt-5" href="
                {{ path('page_321', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 321. #}
        </p>
        {% else %}      
        <p>
                <a class="col-12 mt-5" href="
                {{ path('page_190', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
            {# turn to 190. #}
        </p>
        {% endif %}

</br>
</div>

{% endblock %}