{% extends 'base.html.twig' %}

{% block title %}L'appli.{% endblock %}

{% block header %}
    {{ include('entete/_entetemenu.html.twig') }}    
{% endblock %}

{% block body %}
<div>
</br></br>
Cette application créée dans le but premier de présenter un projet de développement web/web mobile, a aussi pour but de vous faire passer un bon moment en vous plongeant, voir pour les amateurs de la première heure en vous replongeant, dans les aventures de Loup Solitaire (Lone Wolf) le héros de Joe Dever. 
</br></br>
Les livres narrants les aventures de Loup Solitaire sont ce qu'on appelle des <span class="fw-bold">Livres Dont Vous Etes le Héros</span> (<span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">LDVEH</span> pour les intimes!). Il fallait s'armer d'un papier et d'un crayon pour noter les différents éléments caractérisant votre avatar et d'une gomme pour modifier votre inventaire et votre vie au fil de l'aventure.
</br></br>
Cette version de la toute première aventure de Loup Solitaire vous débarasse du papier et du crayon, elle gère pour vous le planter de crayon à l'aveuglette sur la grille de nombres pour déterminer votre succès ou votre echec. Vous n'oublierez plus de prendre votre Potion de Force avant de combattre le Gourgaz (si vous osez l'affronter!), elle vous sera proposée automatiquement.
</br></br>
Vous pourrez créer jusqu'à 3 avatars en même temps et ainsi explorez diverses voies. Lorsque l'un d'eux succombera aux dangers de la longue route vers Holmgard, vous pourrez le supprimer et en créé un nouveau.
</br>
La tentation de jeter un coup d'oeil rapide au différentes options proposées était forte avec le livre, avec l'application une partie des tentations à disparues, car les choix liés à un tirage aléatoire ne vous seront pas montrés, vous ne verrez que le choix résultant du tirage. Ainsi suivre le même chemin ne vous mènera pas forcément au même endroit...
De même il est déconseillé de revenir en arrière avec le browser du navigateur, si vous n'aviez pas perdu de vie lors de votre premier passage, revenir en arrière pourrait vous être fatal...
</br></br>
L'ensemble du texte est en anglais, car Joe Dever à donner les droits de ses premiers textes sur Loup Solitaire à l'ensemble de la communauté, ils sont donc libres de droit de même que les dessins de Gary Chalk l'illustrateur, repris ici comme dans le livre original.
</br>
<span class="fs-3" style="font-family: 'Dr Sugiyama', cursive;">"I would be especially pleased if my granting of the rights to distribute my books in this way was seen as my 'millennium gift' to all those devoted readers who have kept the Kai flag flying high, through all the good times, and the not-so-good. It would make me very proud indeed if this enterprise laid the foundations of a lasting legacy, securing the longevity of Lone Wolf by making my creation freely and readily accessible to current and future online generations. For them, for us, for Sommerlund and the Kai..."</span> 
</br>
<span class="fw-bold">Joe Dever 1999</span> 
</br>
</br>
Ce projet vous a plu, votre héros à soif de nouvelles aventures?
</br>
Vous pourrez découvrir la suite des aventures de Loup Solitaire sur le site :

    <a class="d-flex  text-decoration-none mt-3 justify-content-center" target="_blank" href="https://www.projectaon.org/en/Main/Home">
            
            <p class="display-4 mt-5" >Project Aon</p>
    </a>
</br></br>    
Ils ont repris les premières aventures, tout inventorié et ont corrigé les erreurs de chemin existantes dans les livres originaux, vous pourrez donc profiter pleinement de la version "pen & paper" des différents opus de Lone Wolf.
</br></br>
Bon jeu et bonne lecture!
{# retour a propos #}
<div class="d-flex ">
  <a class="col-12 mt-5" href="{{ path('A_propos')}}">
    <img style="width:100px;" src="{{ asset ('assets/img/ArrowL.png') }}" />
  </a>
</div>
</br></br>

</div>
{% endblock %}