
    {% if tour > 1 and endE > 0 %}
        <p>
            You may evade more fighting by running for the archway.
        </p>
        
        <p>Evade!
                </br>  
                       <a  class="col-12 mt-5"
                            href="
                            {{ path('page_fuite', {'heroId':heroId , 'ennemyId':ennemyId,'ennemyName':ennemyName, 'CS':CS, 'CR':CR, 'fightId': fightId,'p':pageOrigine}) }}
                            "
                        >
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a> 
                        {# turn to fuite. #}
                    
        </p>
    {% endif %}
        
       {% if endE <= 0 and endL > 0 %}
            {% set combattre = null %} 
                <p>You win the fight.
                </br>  
                       <a  class="col-12 mt-5"
                            href="
                            {{ path('page_137', {'heroId':heroId }) }}
                            "
                        >
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a> 
                        {# turn to 137. #}
                    
                </p>
        {% endif %}


