</br>
       {% if endE <= 0 and endL > 0 %}
            {% set combattre = null %} 
                <p>You win the fight. 
                </br>You now must face the second Giak.
                </br>Second Giak: <span style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL 12  ENDURANCE 10 </span>
                </br>  
                       <a  class="col-12 mt-5"
                            href="
                            {{ path('page_1362', {'heroId':heroId }) }}
                            "
                        >
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a> 
                        {# turn to 1362. #}
                    
                </p>
        {% endif %}