</br>
    {% if endE <= 0 and endL > 0 %}
        {% set combattre = null %} 
        {% if startEndL > endL %}
            <p>You win the fight.
                </br>
                You lose <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points in the combat. 
                <a class="col-12 mt-5" href="
                {{ path('page_271', {'heroId':heroId }) }}
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 271. #}
            </p>
        {% else %}
            </br>
            <p>You kill it without losing any <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">ENDURANCE</span> points. 
                    <a class="col-12 mt-5" href="
                     {{ path('page_348', {'heroId':heroId }) }} 
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                {# turn to 348. #}
            </p>
        {% endif %}
{% endif %}
