</br>
       {% if endE <= 0 and endL > 0 %}
            {% set combattre = null %} 
                <p>You win the fight. 
                </br>  
                       <a  class="col-12 mt-5"
                            href="
                            {{ path('page_156', {'heroId':heroId }) }}
                            "
                        >
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a> 
                        {# turn to 156. #}
                    
                </p>
        {% endif %}