</br>
{% if tour > 1 and tour < 4 and endL > 0 and endE > 0 %}
        <p>
            You may evade more fighting by dashing through the front door. 
                </br>  
                       <a  class="col-12 mt-5"
                            href="
                            {{ path('page_fuite', {'heroId':heroId , 'ennemyId':ennemyId,'ennemyName':ennemyName, 'CS':CS, 'CR':CR, 'fightId': fightId,'p':pageOrigine}) }}
                            "
                        >
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a> 
                        {# turn to fuite. #}                    
        </p>
{% endif %}         
 
    {% if tour <= 4 and endE <= 0 %}
        {% set combattre = null %}         
            <p>You kill him.
                </br>
                <a class="col-12 mt-5" href="
                {{ path('page_94', {'heroId':heroId }) }} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 94. #}
            </p>
    {% elseif tour > 3 and endE > 0 and endL > 0 %}
        {% set combattre = null %} 
            <p>You are still fighting. 
                    <a class="col-12 mt-5" href="
                    {{ path('page_203', {'heroId':heroId }) }}
                    ">
                        <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                    </a>
                {# turn to 203. #}
            </p>

    {% endif %}

