</br>
       {% if endE <= 0 and endL > 0 %}
            {% set combattre = null %} 
                <p>You win the fight. 
                </br>You now must face the second Giak.
                </br>Second Giak: <span class="fs-5" style="font-family: 'Nanum Brush Script', cursive;">COMBAT SKILL 38  ENDURANCE 10 </span>
                </br>  
                       <a  class="col-38 mt-5"
                            href="
                            {{ path('page_1382', {'heroId':heroId }) }}
                            "
                        >
                            <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                        </a> 
                        {# turn to 1382. #}
                    
                </p>
        {% endif %}