{% if CR < -10 %}
    {% if atk == 1 %}
        {% set ennemyEnd = ennemyEnd - 0 %} 
        {% set end = 0 %} 
    {% endif %}

    {% if atk == 2 %}
        {% set ennemyEnd = ennemyEnd - 0 %} 
        {% set end = 0 %} 
    {% endif %}
    
    {% if atk == 3 %}
        {% set ennemyEnd = ennemyEnd - 0 %}
        {% set end = end - 8 %}
    {% endif %}
    
    {% if atk == 4 %}
        {% set ennemyEnd = ennemyEnd - 0 %}
        {% set end = end - 8 %}
    {% endif %}
    
    {% if atk == 5 %}
        {% set ennemyEnd = ennemyEnd - 1 %}
        {% set end = end - 7 %}
    {% endif %}
    
    {% if atk == 6 %}
        {% set ennemyEnd = ennemyEnd - 2 %}
        {% set end = end - 6 %} 
    {% endif %}

    {% if atk == 7 %}
        {% set ennemyEnd = ennemyEnd - 3 %}
        {% set end = end - 5 %}
    {% endif %}

    {% if atk == 8 %}
        {% set ennemyEnd = ennemyEnd - 4 %}
        {% set end = end - 4 %} 
    {% endif %}

    {% if atk == 9 %}
        {% set ennemyEnd = ennemyEnd - 5 %}
        {% set end = end - 3 %}
    {% endif %}

    {% if atk == 0 %}
        {% set ennemyEnd = ennemyEnd - 6 %}
        {% set end = end %} 
    {% endif %}
{% endif %}