{% if CR == 9 or CR == 10 %}
    {% if atk == 1 %}
        {% set ennemyEnd = ennemyEnd - 8 %}
        {% set end = end - 3 %}
    {% endif %}

    {% if atk == 2 %}
        {% set ennemyEnd = ennemyEnd - 9 %}
        {% set end = end - 3 %} 
    {% endif %}

    {% if atk == 3 %}
        {% set ennemyEnd = ennemyEnd - 10 %}
        {% set end = end - 2 %} 
    {% endif %}

    {% if atk == 4 %}
        {% set ennemyEnd = ennemyEnd - 11 %}
        {% set end = end - 2 %} 
    {% endif %}

    {% if atk == 5 %}
        {% set ennemyEnd = ennemyEnd - 12 %}
        {% set end = end - 2 %}
    {% endif %}

    {% if atk == 6 %}
         {% set ennemyEnd = ennemyEnd - 14 %}
        {% set end = end - 1 %}
    {% endif %}

    {% if atk == 7 %}
        {% set ennemyEnd = ennemyEnd - 16 %}
        {% set end = end %}
    {% endif %}

    {% if atk == 8 %}
        {% set ennemyEnd = ennemyEnd - 18 %}
        {% set end = end %}
    {% endif %}

    {% if atk == 9 %}
        {% set ennemyEnd = 0 %}
        {% set end = end %}
    {% endif %}
    
    {% if atk == 10 %}
        {% set ennemyEnd = 0 %}
        {% set end = end %}
    {% endif %}
{% endif %}