{% extends 'base.html.twig' %}

{% block title %}LoneWolf menu{% endblock %}

{% block header %}
    {{ include('entete/_entetemenu.html.twig') }}    
{% endblock %}

{% block body %}

    <div class="d-block row justify-content-start mt-3 px-0 " id="menuList">
        <!-- Option continuer à conditionner à l'éxistence d'un hero sur le compte utilisateur 
            if (id_hero){ affichage option } -->
        {% if heroes %}  
        {# <button type="button" class="btn-menu" onclick="document.location=`{{ path('continue') }}`"> <img class=""style="max-width:60px;" src="{{ asset ('assets/img/ico-openbook.png') }}" /><p>Continuer</p></button> #}
        <a class="d-flex text-decoration-none mt-3 justify-content-center" onclick="document.location=`{{ path('continue') }}`">
            <div class="col-3 mt-3 ">
                <img class="img-fluid icone" src="{{ asset ('assets/img/ico-openbook.png') }}"/>
                <p class="display-4 mt-1">Continuer</p>
            </div>
            
        </a>

        {% endif %} 
        <!-- Options toujours présentes -->
         {% if heroesNum < 3 %}   
        {# <button type="button" class="btn-menu" onclick="document.location=`{{ path('nouvelle') }}`"> <img class=""style="max-width:60px;" src="{{ asset ('assets/img/ico-books.png') }}" /><p>Nouvelle Aventure</p></button> #}
        <a class="d-flex text-decoration-none mt-3 justify-content-center" onclick="document.location=`{{ path('nouvelle') }}`">
            <div class="col-3 mt-3 ">
                <img class="img-fluid icone" src="{{ asset ('assets/img/ico-books.png') }}" />
                <p class="display-4 mt-1">Nouvelle Aventure</p>
            </div>
            
        </a>
        {% endif %}

        {# <button type="button" class="btn-menu" onclick="document.location=`{{ path('A_propos') }}`"> <img class=""style="max-width:60px;" src="{{ asset ('assets/img/ico-quill.png') }}" /><p>A Propos</p></button> #}
        <a class="d-flex text-decoration-none mt-3 justify-content-center" onclick="document.location=`{{ path('A_propos') }}`">
            <div class="col-3 mt-3 ">
                <img class="img-fluid icone" src="{{ asset ('assets/img/ico-quill.png') }}" />
                <p class="display-4 mt-1">A Propos</p>
            </div>
            
        </a>

        <!-- Pour gerer la musique -->
            <a class="d-flex text-decoration-none mt-3 justify-content-center" href="{{ path('music')}}" target="_blank">>
            <div class="col-3 mt-3 ">
                <img class="img-fluid icone" src="{{ asset ('assets/img/music.png') }}" />
                <p class="display-4 mt-1">Musique</p>
            </div>
            
        </a>

            {# <button type="button" class="btn-menu" onclick="document.location=`{{ path('test') }}`"> <img class=""style="max-width:60px;" src="{{ asset ('assets/img/ico-gear.png') }}" /><p>Tests</p></button> #}
        {# <a class="d-flex text-decoration-none mt-3 justify-content-center" onclick="document.location=`{{ path('test') }}`">
            <div class="col-3 mt-3 ">
                <img class="img-fluid icone" src="{{ asset ('assets/img/ico-gear.png') }}" />
                <p class="display-4 mt-1">Param</p>
            </div>
            
        </a> #}

        
        </br></br>
    </div>
{% endblock %}
{% block footer %}
        <div class="sticky-bottom">
            <img style="width:70px;" src="{{ asset ('assets/img/decoBas.png') }}" />
            </br></br>
{% endblock %}
