{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}La fameuse page 404{% endblock %}
{% block body %}
    <h1>Chapitre 404</h1>

    <p>Vous vous êtes perdu dans la forêt de Sommerlund.</br>
    
    Vérifiez l'URL ou rendez-vous <a href="{{ path('accueil') }}"> à l'accueil</a>.
    </p>
{% endblock %}