<header class="p-0 mb-3">
    <div class="d-inline-flex justify-content-around p-0" >
        <div class="col-2 symbol">
            <img class="img-fluid " src="{{ asset ('assets/img/wolf.png') }}" alt="wolf face symbole" />
            <p class="symbol"> Lone Wolf </p>
        </div>
        <div class="col-10 personnage text-center px-2 pt-0">
            <div class="text-end">
                    <a href="{{ path('accueil') }}" class="btn"><img class="" style="width:36px;" src="{{ asset ('assets/img/cross-ico.png') }}" /></a>
            </div>
{% for infoHero in hero %}
                
                <h2 class="text-primary"> {{infoHero.name}} </h2> 
                <table class="col-12 text-center">
                    <tbody>
                    
                        <tr>
                            <td> <p class="carac fs-1"> {{infoHero.combatSkill}}  </p> </td>
                            <td> <p class="carac fs-1"> {{infoHero.endurance}} </p> </td>
                            <td> <p class="carac fs-1">{{infoHero.gold}}</p></td>
                        </tr>
                        <tr >
                            <td > <h2 class="skill"> Combat Skill </h2> </td>
                            <td > <h2 class="skill"> Endurance </h2> </td>
                            <td> <h2 class="skill"> Gold </h2></td>
                        </tr>
                    </tbody>
                </table>
                
        </div>
    </div>
    <!-- rappel des comp du héros-->
    <div class="d-flex flex-row align-text-top justify-content-center mb-2">
        <h3 class="m-0 me-2 text-primary fs-5 " style="font-family: 'La Belle Aurore', cursive; line-height: 1.6;"> Kai disciplines </h3>
        <div  class="fs-5" style="font-family:'Nanum Brush Script', cursive;">
            {% if infoHero.kaiCamou %}
                <span > Camouflage. </span>
            {% endif %}
            {% if infoHero.kaiHunt %}
                <span > Hunting. </span>
            {% endif %}
            {% if infoHero.kaiHeal %}
                <span > Healing. </span>
            {% endif %}
            {% if infoHero.kaiSix %}
                <span> 6th sens. </span>
            {% endif %}
            {% if infoHero.kaiMoM %}
                <span > Mind over Matter. </span>
            {% endif %}
            {% if infoHero.kaiMshield %}
                <span > MindShield. </span>
            {% endif %}
            {% if infoHero.kaiMblast %}
                <span > MindBlast. </span>
            {% endif %}
            {% if infoHero.kaiTrack %}
                <span > Tracking. </span>
            {% endif %}
            {% if infoHero.kaiWeapon %}
                <span > Weapon Skill. </span>
            {% endif %}
            {% if infoHero.kaiAnimal %}
                <span > Animal Kinship. </span>
            {% endif %}
        </div>
    </div>

    {# places dans l'inventaire #}
        {% set bpItemsCount = 0 %}
        {% set handItemCount = 0 %}
        {% for item in items %}
            {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
            {% endif %}
            {% if item.place is same as ('backpack') %}
                {% set bpItemsCount = bpItemsCount + 1 %}
            {% endif %} 
        {% endfor %} 
        
    <div class="d-flex justify-content-evenly">
        {%  if infoHero.backpack is same as 1 %} 
        {# ouvrir l'inventaire #}
                <!-- Bouton lance popup -->
                <button type="button" id="ico-inv" class="btn-disciplines fs-2 " data-bs-toggle="modal" data-bs-target="#inventaire">
                    <img class=" img-fluid " style="max-width:80px;" src="{{ asset ('assets/img/ico-backpack.png') }}" />
                    <div> {{bpItemsCount}}/8 </div> 
                </button>
                         
        <!-- popup de l'inventaire -->
            <div class="modal fade" id="inventaire" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="inventaireLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen ">
                    <div class="modal-content  ">
                        <div class="modal-header">
                            <h2 class="modal-title" id="inventaireLabel" style="font-family:'Dr Sugiyama', cursive;">Inventaire</h2>
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                                <img class="" style="width:36px;" src="{{ asset ('assets/img/cross-ico.png') }}" /> 
                            </button>
                        </div>
                        <div class="modal-body overflow-auto ">
                            {# <p class="fs-2" style="font-family: 'La Belle Aurore', cursive;"> Bientôt, ici se trouvera votre inventaire. </p>#}
                            <div class="column ">
                            <!-- Affichage du sac à dos -->
                                <div class="mb-3">
                                    <h2 class="mt-1">Backpack {{bpItemsCount}}/8</h2>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">item</th>
                                                <th scope="col">description</th>     
                                                <th scope="col">Action</th>        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in items %}
                                                {% if item.place is same as ('backpack') %}
                                                <tr>
                                                    <th scope="row">{{ item.objName}}</th> 
                                                    <td>{{ item.objDescription }} </td>
                                                    <td>
                                                    {% if item.objType is same as ('meal') or item.objType is same as ('potion') %}
                                                        {% if item.id == 12 or item.id == 25 %}
                                                            <a 
                                                                class="btn rounded-circle"             
                                                                href="{{ path( "objEat", {'itemId':item.id,'p':p, 'heroId':heroId} ) }}"  
                                                            >  
                                                                <img 
                                                                    style="width:25px; height:25px"
                                                                    src="{{ asset ('assets/img/ico-pomme.png') }}" alt="eat - delete item" />      
                                                            </a>
                                                        {% else %}
                                                            <a 
                                                                class="btn rounded-circle"             
                                                                href="{{ path( "objDel", {'itemId':item.id,'p':p, 'heroId':heroId} ) }}"  
                                                            >  
                                                                <img 
                                                                    style="width:25px; height:25px"
                                                                    src="{{ asset ('assets/img/ico-pomme.png') }}" alt="eat - delete item" />      
                                                            </a>
                                                        {% endif %}

                                                    {% else %}
                                                        <a 
                                                            class="btn rounded-circle"             
                                                            href="{{ path( "objDel", {'itemId':item.id,'p':p, 'heroId':heroId} ) }}"  
                                                        >  
                                                            <img 
                                                                style="width:25px; height:25px"
                                                                src="{{ asset ('assets/img/cross-ico.png') }}" alt="trash - delete item" />      
                                                        </a>
                                                    {% endif %} 
                                                    </td>
                                                </tr>
                                                {% endif %} 
                                            {% endfor %}
                                        </tbody>
                                    </table> 
                                </div>
                            <!-- Affichage de l'armement -->
                                <div class="mb-3">
                                            <h2 class="mt-1">Weapons {{handItemCount}}/2</h2>
                                            <table class="table table-striped mb-3">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">item</th>
                                                        <th scope="col">description</th>     
                                                        <th scope="col">Action</th>        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in items %}
                                                        {% if item.place is same as ('hand') %}
                                                        <tr>
                                                            <th scope="row">{{ item.objName}}</th> 
                                                            <td>{{ item.objDescription }}</td>
                                                            <td>
                                                                <a 
                                                                    class="btn rounded-circle"             
                                                                    href="{{ path( "objDel", {'itemId':item.id,'p':p, 'heroId':heroId} ) }}"  
                                                                >  
                                                                    <img 
                                                                    style="width:25px; height:25px"
                                                                    src="{{ asset ('assets/img/cross-ico.png') }}" alt="trash - delete item" />      
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endif %} 
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                </div>       
                            <!-- Affichage des objets spéciaux -->
                                <div class="">
                                                <h2 class="mt-3"> Special item</h2>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">item</th>
                                                            <th scope="col">description</th>     
                                                            <th scope="col">wear</th>        
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        {% for item in items %}
                                                            {% if item.objType is same as ('special') %}
                                                                <tr>
                                                                    <th scope="row">{{ item.objName}}</th> 
                                                                    <td>{{ item.objDescription }}</td>
                                                                    <td>{{item.place}}</td>
                                                                </tr>
                                                            {% endif %} 
                                                        {% endfor %}
                                                    </tbody>
                                                </table> 
                                </div> 
                            <!-- Affichage des objets spéciaux -->
                                <div class="">
                                                {# <h2 class="mt-3"> Meal</h2> #}
                                                <table class="">
                                                    {# <thead>
                                                         <tr>
                                                            <th scope="col">item</th>
                                                            <th scope="col">description</th>     
                                                            <th scope="col">eat</th>        
                                                        </tr> 
                                                    </thead> #}
                                                    <tbody>

                                                        {% for item in items %}
                                                            {% if item.objType is same as ('meal') %}
                                                                <tr>
                                                                    {# <th scope="row">{{ item.objName}}</th>  #}
                                                                    <td><img 
                                                                                style="heigth:36px;"
                                                                                src="{{ asset ('assets/img/item-food.png') }}" alt="food" />      
                                                                        </td>
                                                                    <td>
                                                                        <a 
                                                                            class="btn rounded-circle"             
                                                                            href="{{ path( "objDel", {'itemId':item.id,'p':p, 'heroId':heroId} ) }}"  
                                                                        >  
                                                                            <img 
                                                                                style="width:25px; height:25px"
                                                                                src="{{ asset ('assets/img/cross-ico.png') }}" alt="trash - delete item" />      
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            {% endif %} 
                                                        {% endfor %}
                                                    </tbody>
                                                </table> 
                                </div>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {# ouvrir la carte du monde #}
                <!-- Bouton lance popup -->
                <button type="button" id="ico-map" class="btn-disciplines fs-3" data-bs-toggle="modal" data-bs-target="#carteMonde"> <img class="me-3 img-fluid" style="width:100px;" src="{{ asset ('assets/img/ico-map.png') }}" /> </button>
                <!-- Button trigger modal -->
        <!-- popup de la map en fullscreen -->
        <div class="modal fade" id="carteMonde" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="carteMondeLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen ">
                <div class="modal-content  ">
                    <div class="modal-header">
                        <h2 class="modal-title" id="carteMondeLabel" style="font-family:'Dr Sugiyama', cursive;">Magnamund map</h2>
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                            <img class="" style="width:36px;" src="{{ asset ('assets/img/cross-ico.png') }}" /> 
                        </button>
                    </div>
                    <div class="modal-body overflow-auto">
                        <img class="height-100" src="{{ asset ('assets/img/map-d.png') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        {% endfor %}
        <div class="mt-3">
            <img style="width:70px;" src="{{ asset ('assets/img/decoBas.png') }}" />
        </div>
    
</header>
