<header class="p-0" >
    <div class="d-inline-flex justify-content-around p-0">
        <div class="col-2 symbol">
            <a href="{{ path('menu') }}">
            <img class="img-fluid " src="{{ asset ('assets/img/wolf.png') }}" alt="wolf face symbole" />
            </a>
            <p class="symbol"> Lone Wolf </p>
        </div>
        <div class="col-10 personnage text-center px-2 pt-0">
            <div class="text-end">
                <a href="{{ path('app_logout') }}" class="btn"><img class="" style="width:36px;" src="{{ asset ('assets/img/cross-ico.png') }}" /></a>
            </div>
            <div class="text-center px-1 pt-1">
                <h2> Flight from the dark </h2>
                <h3 > Joe Dever and Gary Chalk </h3>
            </div>
        </div>
        
    </div>
    <div class="col-12 mt-1 text-center">
            <img style="width:70px;" src="{{ asset ('assets/img/decoHaut.png') }}" />
    </div>
</header>
